openapi: 3.1.0
info:
  title: Trade Item API
  version: 1.0.0
  description: |
    API for managing trade item information, specifications based on ETIM xChange V2.0.
    
    ## Features

    - Individual trade item operations via `/trade-items`
    - Bulk data retrieval via `/bulk/*` endpoints with cursor-based pagination
    
    ## Data Model

    Based on ETIM xChange V2.0 Trade Item schema.
    Flattened structure with minimal nesting for efficient API consumption.
  contact:
    name: Trade Item API Support
    email: support@tradeitem.2ba.nl
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: https://api.tradeitem.2ba.nl/v1
    description: Production server
  - url: https://api-staging.tradeitem.2ba.nl/v1
    description: Staging server

tags:
  - name: TradeItems single
    description: Single trade item operations
    x-displayName: Single Trade Item
  - name: TradeItems bulk
    description: Bulk data retrieval operations with cursor-based pagination for high-volume data exchange
    x-displayName: Bulk Trade Items

x-tagGroups:
  - name: Trade Items
    tags:
      - TradeItems single
      - TradeItems bulk

paths:
  # Single trade item endpoints
  # /{supplierIdGln}/{supplierItemNumber}:
  #   $ref: './paths/trade-items.yaml'
  
  /{supplierIdGln}/{supplierItemNumber}/details:
    $ref: './paths/trade-item-details.yaml'
  
  /{supplierIdGln}/{supplierItemNumber}/descriptions:
    $ref: './paths/trade-item-descriptions.yaml'
  
  /{supplierIdGln}/{supplierItemNumber}/orderings:
    $ref: './paths/trade-item-orderings.yaml'
  
  /{supplierIdGln}/{supplierItemNumber}/pricings:
    $ref: './paths/trade-item-pricings.yaml'
  
  /{supplierIdGln}/{supplierItemNumber}/allowance-surcharges:
    $ref: './paths/trade-item-allowance-surcharges.yaml'
  
  # Bulk operations
  # Note: /bulk/trade-item-details consolidates what would have been separate
  # /bulk/trade-items and /bulk/item-identifications endpoints since
  # TradeItemDetailsSummary combines ItemIdentification + ItemDetails from ETIM xChange
  /bulk/trade-item-details:
    $ref: './paths/bulk/trade-item-details.yaml'
  /bulk/trade-item-descriptions:
    $ref: './paths/bulk/trade-item-descriptions.yaml'
  /bulk/trade-item-orderings:
    $ref: './paths/bulk/trade-item-orderings.yaml'
  /bulk/trade-item-pricings:
    $ref: './paths/bulk/trade-item-pricings.yaml'
  /bulk/trade-item-allowance-surcharges:
    $ref: './paths/bulk/trade-item-allowance-surcharges.yaml'
    
components:
  schemas:
    # Shared components from other domains
    ErrorResponse:
      $ref: ../../shared/schemas/common/ProblemDetails.yaml
    TechnicalId:
      $ref: ../../shared/schemas/identifiers/TechnicalId.yaml
    
    # Domain schemas
    TradeItemDetails:
      $ref: './schemas/domain/TradeItemDetails.yaml'
    TradeItemDetailsSummary:
      $ref: './schemas/domain/TradeItemDetailsSummary.yaml'
    ItemDescriptionsSummary:
      $ref: './schemas/domain/ItemDescriptionsSummary.yaml'
    TradeItemOrdering:
      $ref: './schemas/domain/TradeItemOrdering.yaml'
    TradeItemOrderingsSummary:
      $ref: './schemas/domain/TradeItemOrderingsSummary.yaml'
    TradeItemPricing:
      $ref: './schemas/domain/TradeItemPricing.yaml'
    TradeItemPricingsSummary:
      $ref: './schemas/domain/TradeItemPricingsSummary.yaml'
    AllowanceSurcharge:
      $ref: './schemas/domain/AllowanceSurcharge.yaml'
    AllowanceSurchargeSummary:
      $ref: './schemas/domain/AllowanceSurchargeSummary.yaml'
    
    # Response schemas
    TradeItemResponse:
      $ref: './schemas/responses/TradeItemResponse.yaml'
    TradeItemDetailsResponse:
      $ref: './schemas/responses/TradeItemDetailsResponse.yaml'
    TradeItemDescriptionsResponse:
      $ref: './schemas/responses/TradeItemDescriptionsResponse.yaml'
    BulkTradeItemDetailsResponse:
      $ref: './schemas/responses/BulkTradeItemDetailsResponse.yaml'
    BulkTradeItemDescriptionsResponse:
      $ref: './schemas/responses/BulkTradeItemDescriptionsResponse.yaml'
    TradeItemOrderingsResponse:
      $ref: './schemas/responses/TradeItemOrderingsResponse.yaml'
    BulkTradeItemOrderingsResponse:
      $ref: './schemas/responses/BulkTradeItemOrderingsResponse.yaml'
    TradeItemPricingsResponse:
      $ref: './schemas/responses/TradeItemPricingsResponse.yaml'
    BulkTradeItemPricingsResponse:
      $ref: './schemas/responses/BulkTradeItemPricingsResponse.yaml'
    BulkAllowanceSurchargesResponse:
      $ref: './schemas/responses/BulkAllowanceSurchargesResponse.yaml'
    TradeItemAllowanceSurchargesResponse:
      $ref: './schemas/responses/TradeItemAllowanceSurchargesResponse.yaml'
    TradeItemAllowanceSurchargeItem:
      $ref: './schemas/responses/TradeItemAllowanceSurchargeItem.yaml'

  parameters:
    SupplierIdGln:
      $ref: ../../shared/parameters/query/supplier-id-gln-filter.yaml
    SupplierIdGlnPath:
      $ref: ../../shared/parameters/path/supplier-id-gln.yaml
    SupplierItemNumberPath:
      $ref: ../../shared/parameters/path/supplier-item-number.yaml
    Cursor:
      $ref: ../../shared/parameters/query/cursor.yaml
    Limit:
      $ref: ../../shared/parameters/query/limit.yaml
    SelectionId:
      $ref: ../../shared/parameters/query/selection-id.yaml
    MutationDateTime:
      $ref: ../../shared/parameters/query/mutation-date-time.yaml

  responses:
    BadRequest:
      $ref: '../../shared/responses/400-bad-request.yaml'
    Unauthorized:
      $ref: '../../shared/responses/401-unauthorized.yaml'
    Forbidden:
      $ref: '../../shared/responses/403-forbidden.yaml'
    NotFound:
      $ref: '../../shared/responses/404-not-found.yaml'
    InternalServerError:
      $ref: '../../shared/responses/500-internal-server-error.yaml'

  securitySchemes:
    oauth2:
      type: oauth2
      flows: 
        clientCredentials: 
          tokenUrl: https://authorize.2ba.nl/connect/token
          scopes:
            read:tradeitems: Grants read access to trade items
            write:tradeitems: Grants write access to trade items

security:
  - oauth2: []
