openapi: 3.1.0
info:
  title: BBA TradeItem Bulk Operations API
  version: 1.0.0
  description: |
    Bulk operations API for retrieving trade item data at scale with cursor-based pagination.
    Based on ETIM xChange V2.0 schema with flattened structure for optimal API usability.
    
    ## Key Features
    
    - **Cursor-based pagination**: Efficient navigation through large datasets
    - **Incremental synchronization**: Filter by mutation date for delta updates
    - **Selection-based filtering**: Retrieve predefined subsets of items
    - **Specialized endpoints**: Get only the data you need (identifications, orderings, pricings, or full items)
    - **ETIM xChange compliant**: Full traceability to ETIM xChange V2.0 schema fields
    
    ## Bulk Endpoints
    
    - `GET /bulk/trade-items` - Complete trade item information
    - `GET /bulk/item-identifications` - Item identifiers and GTINs only
    - `GET /bulk/item-orderings` - Ordering information only
    - `GET /bulk/item-pricings` - Pricing information only
    
    ## Pagination
    
    All bulk endpoints use cursor-based pagination for efficient data retrieval:
    - Default page size: 100 items
    - Maximum page size: 1000 items
    - Cursor is opaque and should not be parsed by clients
    - Use `hasNext`/`hasPrev` flags to navigate
    
    ## Filtering
    
    - **supplierIdGln**: Filter by supplier GLN
    - **selectionId**: Filter by predefined selection identifier
    - **mutationDate**: Get items modified on or after this date (ISO 8601 format)
    
    ## ETIM xChange Mapping
    
    All fields include documentation showing:
    - Original ETIM xChange field name
    - Full JSON path in ETIM xChange schema
    - Type conversions (e.g., string patterns to number types)
  contact:
    name: BBA API Support
    email: api-support@bba.nl
  license:
    name: Proprietary
    identifier: Proprietary

servers:
  - url: https://api.bba.nl/v1
    description: Production server
  - url: https://api-staging.bba.nl/v1
    description: Staging server

tags:
  - name: BulkOperations
    description: |
      Bulk data retrieval operations with cursor-based pagination for high-volume data exchange.
      Designed for synchronization scenarios where large amounts of trade item data need to be
      retrieved efficiently.

paths:
  /bulk/trade-items:
    $ref: ./paths/bulk/trade-items.yaml
  
  /bulk/item-identifications:
    $ref: ./paths/bulk/item-identifications.yaml
  
  /bulk/item-orderings:
    $ref: ./paths/bulk/item-orderings.yaml
  
  /bulk/item-pricings:
    $ref: ./paths/bulk/item-pricings.yaml

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token-based authentication
    
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key authentication

  schemas:
    # Domain schemas
    TradeItem:
      $ref: ./schemas/domain/TradeItem.yaml
    ItemIdentification:
      $ref: ./schemas/domain/ItemIdentification.yaml
    ItemDetails:
      $ref: ./schemas/domain/ItemDetails.yaml
    ItemOrdering:
      $ref: ./schemas/domain/ItemOrdering.yaml
    ItemPricing:
      $ref: ./schemas/domain/ItemPricing.yaml
    ItemLogistics:
      $ref: ./schemas/domain/ItemLogistics.yaml
    ItemRelation:
      $ref: ./schemas/domain/ItemRelation.yaml
    PackagingUnit:
      $ref: ./schemas/domain/PackagingUnit.yaml
    ItemAttachment:
      $ref: ./schemas/domain/ItemAttachment.yaml
    ItemCountrySpecificField:
      $ref: ./schemas/domain/ItemCountrySpecificField.yaml
    AllowanceSurcharge:
      $ref: ./schemas/domain/AllowanceSurcharge.yaml
    ItemDescription:
      $ref: ./schemas/domain/ItemDescription.yaml
    
    # Enums
    ItemStatus:
      $ref: ./schemas/enums/ItemStatus.yaml
    ItemCondition:
      $ref: ./schemas/enums/ItemCondition.yaml
    RelationType:
      $ref: ./schemas/enums/RelationType.yaml
    PackagingTypeCode:
      $ref: ./schemas/enums/PackagingTypeCode.yaml
    
    # Response schemas
    BulkTradeItemsResponse:
      $ref: ./schemas/responses/BulkTradeItemsResponse.yaml
    BulkItemIdentificationsResponse:
      $ref: ./schemas/responses/BulkItemIdentificationsResponse.yaml
    BulkItemOrderingsResponse:
      $ref: ./schemas/responses/BulkItemOrderingsResponse.yaml
    BulkItemPricingsResponse:
      $ref: ./schemas/responses/BulkItemPricingsResponse.yaml
    
    # Shared schemas
    TechnicalId:
      $ref: ../../shared/schemas/identifiers/TechnicalId.yaml
    Gln:
      $ref: ../../shared/schemas/identifiers/Gln.yaml
    Gtin:
      $ref: ../../shared/schemas/identifiers/Gtin.yaml
    CurrencyCode:
      $ref: ../../shared/schemas/common/CurrencyCode.yaml
    UnitCodes:
      $ref: ../../shared/schemas/common/UnitCodes.yaml
    CountryCode:
      $ref: ../../shared/schemas/common/CountryCode.yaml
    LanguageCode:
      $ref: ../../shared/schemas/common/LanguageCode.yaml
    CursorPaginationMetadata:
      $ref: ../../shared/schemas/common/CursorPaginationMetadata.yaml
    ProblemDetails:
      $ref: ../../shared/schemas/common/ProblemDetails.yaml
    ValidationProblemDetails:
      $ref: ../../shared/schemas/common/ValidationProblemDetails.yaml
  
  parameters:
    # Query parameters
    Cursor:
      $ref: ../../shared/parameters/query/cursor.yaml
    Limit:
      $ref: ../../shared/parameters/query/limit.yaml
    SelectionId:
      $ref: ../../shared/parameters/query/selection-id.yaml
    MutationDateTime:
      $ref: ../../shared/parameters/query/mutation-date-time.yaml
    SupplierIdGln:
      $ref: ../../shared/parameters/query/supplier-id-gln-filter.yaml
  
  responses:
    BadRequest:
      $ref: ../../shared/responses/400-bad-request.yaml
    Unauthorized:
      $ref: ../../shared/responses/401-unauthorized.yaml
    Forbidden:
      $ref: ../../shared/responses/403-forbidden.yaml
    NotFound:
      $ref: ../../shared/responses/404-not-found.yaml
    InternalServerError:
      $ref: ../../shared/responses/500-internal-server-error.yaml

security:
  - bearerAuth: []
  - apiKey: []
