openapi: 3.1.0
info:
  title: Trade Item API
  version: 1.0.0
  description: |
    API for managing trade item information, specifications based on ETIM xChange V2.0.

    ## Features

    - Individual trade item operations via `/trade-items`
    - Bulk data retrieval via `/bulk/*` endpoints with cursor-based pagination

    ## Data Model

    Based on ETIM xChange V2.0 Trade Item schema.
    Flattened structure with minimal nesting for efficient API consumption.
  contact:
    name: Trade Item API Support
    email: support@tradeitem.2ba.nl
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://api.tradeitem.2ba.nl/v1
    description: Production server
  - url: https://api-staging.tradeitem.2ba.nl/v1
    description: Staging server
security:
  - oauth2: []
tags:
  - name: TradeItems single
    description: Single trade item operations
    x-displayName: Single Trade Item
  - name: TradeItems bulk
    description: Bulk data retrieval operations with cursor-based pagination for high-volume data exchange
    x-displayName: Bulk Trade Items
paths:
  /{supplierIdGln}/{supplierItemNumber}/details:
    get:
      operationId: getTradeItemDetails
      tags:
        - TradeItems single
      summary: Retrieve trade item details
      description: |
        Retrieve item identification and details for a specific trade item.

        This endpoint returns comprehensive trade item information including:
        - Alternative item numbers (supplier, manufacturer, buyer)
        - Global Trade Item Numbers (GTINs)
        - Discount and bonus group information
        - Validity and obsolescence dates
        - Item status and condition

        **Note**: Item descriptions are available via the separate `/descriptions` endpoint.

        The trade item key (`supplierIdGln` + `supplierItemNumber`) is at the root level,
        with details nested inside. This structure aligns with other single-item subresource responses.

        **No pagination** - Returns exactly one trade item's details or 404 if not found.
      parameters:
        - $ref: '#/components/parameters/supplier-id-gln'
        - $ref: '#/components/parameters/supplier-item-number'
      responses:
        '200':
          description: Successfully retrieved trade item details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeItemDetailsResponse'
              examples:
                fullDetails:
                  summary: Complete trade item details
                  value:
                    data:
                      supplierIdGln: '1234567890123'
                      supplierItemNumber: SKU-12345
                      details:
                        supplierAltItemNumber: ALT-12345
                        manufacturerItemNumber: MFG-98765
                        manufacturerIdGln: '9876543210987'
                        manufacturerProductNumber: '929002376910'
                        itemGtins:
                          - '4012345678901'
                        buyerItemNumber: BUYER-XYZ-123
                        discountGroupId: DG-001
                        discountGroupDescription: Standard discount group
                        bonusGroupId: BG-002
                        bonusGroupDescription: Premium bonus tier
                        itemValidityDate: '2024-01-01'
                        itemObsolescenceDate: '2026-12-31'
                        itemStatus: ACTIVE
                        itemCondition: NEW
                        stockItem: true
                        shelfLifePeriod: 365
                minimalDetails:
                  summary: Minimal trade item details
                  value:
                    data:
                      supplierIdGln: '9876543210987'
                      supplierItemNumber: SKU-MIN-001
                      details:
                        supplierAltItemNumber: null
                        manufacturerItemNumber: null
                        manufacturerIdGln: '1234567890123'
                        manufacturerProductNumber: PROD-BASIC-001
                        itemGtins: null
                        buyerItemNumber: null
                        discountGroupId: null
                        discountGroupDescription: null
                        bonusGroupId: null
                        bonusGroupDescription: null
                        itemValidityDate: null
                        itemObsolescenceDate: null
                        itemStatus: ACTIVE
                        itemCondition: NEW
                        stockItem: true
                        shelfLifePeriod: null
        '400':
          $ref: '#/components/responses/400-bad-request'
        '401':
          $ref: '#/components/responses/401-unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden'
        '404':
          description: Trade item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://api.tradeitem.2ba.nl/problems/not-found
                title: Trade Item Not Found
                status: 404
                detail: No trade item found with supplier GLN '1234567890123' and item number 'UNKNOWN-SKU'
                instance: https://api.tradeitem.2ba.nl/v1/1234567890123/UNKNOWN-SKU/details
        '500':
          $ref: '#/components/responses/500-internal-server-error'
  /{supplierIdGln}/{supplierItemNumber}/descriptions:
    get:
      operationId: getTradeItemDescriptions
      tags:
        - TradeItems single
      summary: Retrieve trade item descriptions
      description: |
        Retrieve multilingual descriptions for a specific trade item.

        This endpoint returns trade item descriptions including minimal and unique main descriptions
        for each available language.

        **Language filtering**: Use the optional `language` query parameter to filter
        descriptions to specific language(s). If not specified, all available languages are returned.

        **Nested structure**: Unlike the bulk endpoint `/bulk/trade-item-descriptions` which uses
        a flattened structure optimized for ETL, this single-item endpoint returns descriptions
        in their natural nested format for easier consumption.

        **No pagination** - Returns all descriptions for the specified trade item.
      parameters:
        - $ref: '#/components/parameters/supplier-id-gln'
        - $ref: '#/components/parameters/supplier-item-number'
        - $ref: '#/components/parameters/language'
      responses:
        '200':
          description: Successfully retrieved trade item descriptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeItemDescriptionsResponse'
              examples:
                multipleLanguages:
                  summary: Trade item with multiple language descriptions
                  value:
                    data:
                      supplierIdGln: '1234567890123'
                      supplierItemNumber: SKU-12345
                      descriptions:
                        - descriptionLanguage: en-GB
                          minimalItemDescription: LED Lamp 10W E27
                          uniqueMainItemDescription: Professional LED lamp with E27 socket, 10W warm white
                        - descriptionLanguage: de-DE
                          minimalItemDescription: LED Lampe 10W E27
                          uniqueMainItemDescription: Professionelle LED-Lampe mit E27-Fassung, 10W warmweiß
                        - descriptionLanguage: nl-NL
                          minimalItemDescription: LED Lamp 10W E27
                          uniqueMainItemDescription: Professionele LED lamp met E27 fitting, 10W warm wit
                singleLanguage:
                  summary: Filtered to single language
                  value:
                    data:
                      supplierIdGln: '1234567890123'
                      supplierItemNumber: SKU-12345
                      descriptions:
                        - descriptionLanguage: en-GB
                          minimalItemDescription: LED Lamp 10W E27
                          uniqueMainItemDescription: Professional LED lamp with E27 socket, 10W warm white
                noDescriptions:
                  summary: Trade item without descriptions
                  value:
                    data:
                      supplierIdGln: '1234567890123'
                      supplierItemNumber: SKU-12345
                      descriptions: null
        '400':
          $ref: '#/components/responses/400-bad-request'
        '401':
          $ref: '#/components/responses/401-unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden'
        '404':
          description: Trade item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://api.tradeitem.2ba.nl/problems/not-found
                title: Trade Item Not Found
                status: 404
                detail: No trade item found with supplier GLN '1234567890123' and item number 'UNKNOWN-SKU'
                instance: https://api.tradeitem.2ba.nl/v1/1234567890123/UNKNOWN-SKU/descriptions
        '500':
          $ref: '#/components/responses/500-internal-server-error'
  /{supplierIdGln}/{supplierItemNumber}/orderings:
    get:
      operationId: getTradeItemOrderings
      tags:
        - TradeItems single
      summary: Retrieve trade item ordering information
      description: |
        Retrieve ordering information for a specific trade item.

        This endpoint returns comprehensive ordering details including:
        - Order unit and quantity constraints (minimum, step size)
        - Standard lead time for orders
        - Use unit conversions (for items sold in one unit but used in another)
        - Alternative use unit conversions

        The trade item key (`supplierIdGln` + `supplierItemNumber`) is at the root level,
        with ordering details nested inside. This structure aligns with other single-item subresource responses.

        **No pagination** - Returns exactly one trade item's ordering information or 404 if not found.

        **ETIM xChange**: `Ordering`
        **Path**: `Supplier[].Product[].TradeItem[].Ordering`
      parameters:
        - $ref: '#/components/parameters/supplier-id-gln'
        - $ref: '#/components/parameters/supplier-item-number'
      responses:
        '200':
          description: Successfully retrieved trade item ordering information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeItemOrderingsResponse'
              examples:
                basicOrdering:
                  summary: Basic ordering configuration
                  value:
                    data:
                      supplierIdGln: '1234567890123'
                      supplierItemNumber: SKU-12345
                      ordering:
                        orderUnit: C62
                        minimumOrderQuantity: 1
                        orderStepSize: 1
                        standardOrderLeadTime: 5
                        useUnit: null
                        useUnitConversionFactor: null
                        singleUseUnitQuantity: null
                        alternativeUseUnit: null
                        alternativeUseUnitConversionFactor: null
                cableOrdering:
                  summary: Cable with meter-based ordering
                  value:
                    data:
                      supplierIdGln: '8712423012485'
                      supplierItemNumber: SKU-CABLE-002
                      ordering:
                        orderUnit: MTR
                        minimumOrderQuantity: 10
                        orderStepSize: 5
                        standardOrderLeadTime: 3
                        useUnit: MTR
                        useUnitConversionFactor: 1
                        singleUseUnitQuantity: 1
                        alternativeUseUnit: null
                        alternativeUseUnitConversionFactor: null
                bulkOrdering:
                  summary: Bulk item with different use unit
                  value:
                    data:
                      supplierIdGln: '9876543210987'
                      supplierItemNumber: BULK-PAINT-001
                      ordering:
                        orderUnit: BX
                        minimumOrderQuantity: 5
                        orderStepSize: 1
                        standardOrderLeadTime: 14
                        useUnit: LTR
                        useUnitConversionFactor: 10
                        singleUseUnitQuantity: 10
                        alternativeUseUnit: null
                        alternativeUseUnitConversionFactor: null
        '400':
          $ref: '#/components/responses/400-bad-request'
        '401':
          $ref: '#/components/responses/401-unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden'
        '404':
          description: Trade item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://api.tradeitem.2ba.nl/problems/not-found
                title: Trade Item Not Found
                status: 404
                detail: No trade item found with supplier GLN '1234567890123' and item number 'UNKNOWN-SKU'
                instance: https://api.tradeitem.2ba.nl/v1/1234567890123/UNKNOWN-SKU/orderings
        '500':
          $ref: '#/components/responses/500-internal-server-error'
  /{supplierIdGln}/{supplierItemNumber}/pricings:
    get:
      operationId: getTradeItemPricings
      tags:
        - TradeItems single
      summary: Retrieve trade item pricing information
      description: |
        Retrieve pricing information for a specific trade item.

        This endpoint returns comprehensive pricing details including:
        - Price unit and quantity
        - Gross list price, net price, and recommended retail price
        - VAT percentage
        - Price validity and expiry dates
        - Currency code (catalog-level `CurrencyCode`)

        **Allowances & Surcharges**: Available via separate `/{supplierIdGln}/{supplierItemNumber}/allowance-surcharges` endpoint.

        A trade item may have multiple pricing entries for different conditions,
        customer groups, or validity periods.

        The trade item key (`supplierIdGln` + `supplierItemNumber`) is at the root level,
        with pricings nested inside. This structure aligns with other single-item subresource responses.

        **No pagination** - Returns exactly one trade item's pricing information or 404 if not found.

        **ETIM xChange**: `Pricing[]`
        **Path**: `Supplier[].Product[].TradeItem[].Pricing[]`
      parameters:
        - $ref: '#/components/parameters/supplier-id-gln'
        - $ref: '#/components/parameters/supplier-item-number'
      responses:
        '200':
          description: Successfully retrieved trade item pricing information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeItemPricingsResponse'
              examples:
                singlePricing:
                  summary: Trade item with single pricing entry
                  value:
                    data:
                      supplierIdGln: '1234567890123'
                      supplierItemNumber: SKU-12345
                      pricings:
                        - priceUnit: C62
                          priceUnitFactor: null
                          priceQuantity: 1
                          currencyCode: EUR
                          priceOnRequest: false
                          grossListPrice: 130
                          netPrice: 100
                          recommendedRetailPrice: 150
                          vat: 21
                          priceValidityDate: '2025-01-01'
                          priceExpiryDate: '2025-12-31'
                multiplePricings:
                  summary: Trade item with volume pricing
                  value:
                    data:
                      supplierIdGln: '8712423012485'
                      supplierItemNumber: SKU-CABLE-002
                      pricings:
                        - priceUnit: MTR
                          priceUnitFactor: 1
                          priceQuantity: 1
                          currencyCode: EUR
                          priceOnRequest: false
                          grossListPrice: 2.5
                          netPrice: 1.99
                          recommendedRetailPrice: 3.49
                          vat: 21
                          priceValidityDate: '2025-01-01'
                          priceExpiryDate: '2025-06-30'
                        - priceUnit: MTR
                          priceUnitFactor: 1
                          priceQuantity: 100
                          currencyCode: EUR
                          priceOnRequest: false
                          grossListPrice: 2
                          netPrice: 1.59
                          recommendedRetailPrice: 2.99
                          vat: 21
                          priceValidityDate: '2025-01-01'
                          priceExpiryDate: '2025-06-30'
                priceOnRequest:
                  summary: Trade item with price on request
                  value:
                    data:
                      supplierIdGln: '9876543210987'
                      supplierItemNumber: CUSTOM-BUILD-001
                      pricings:
                        - priceUnit: C62
                          priceUnitFactor: null
                          priceQuantity: 1
                          currencyCode: EUR
                          priceOnRequest: true
                          grossListPrice: null
                          netPrice: null
                          recommendedRetailPrice: null
                          vat: 21
                          priceValidityDate: '2025-01-01'
                          priceExpiryDate: null
        '400':
          $ref: '#/components/responses/400-bad-request'
        '401':
          $ref: '#/components/responses/401-unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden'
        '404':
          description: Trade item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://api.tradeitem.2ba.nl/problems/not-found
                title: Trade Item Not Found
                status: 404
                detail: No trade item found with supplier GLN '1234567890123' and item number 'UNKNOWN-SKU'
                instance: https://api.tradeitem.2ba.nl/v1/1234567890123/UNKNOWN-SKU/pricings
        '500':
          $ref: '#/components/responses/500-internal-server-error'
  /{supplierIdGln}/{supplierItemNumber}/allowance-surcharges:
    get:
      operationId: getTradeItemAllowanceSurcharges
      tags:
        - TradeItems single
      summary: Retrieve trade item allowances and surcharges
      description: |
        Retrieve allowances (discounts) and surcharges (additional charges) for a specific trade item.

        This endpoint returns all allowances and surcharges associated with the trade item's pricing entries.
        Each allowance/surcharge includes **pricing join keys** (`priceUnit`, `priceQuantity`, `priceValidityDate`) 
        to enable correlation with the corresponding pricing record from the `/pricings` endpoint.

        **Design Decision**: Allowances and surcharges are provided in a separate endpoint to:
        - Enable direct ETL/data warehouse fact table loading
        - Provide predictable pagination for datasets with varying surcharge counts
        - Support star schema design patterns (pricing fact table + surcharges fact table)

        **No pagination** - Returns exactly one trade item's allowances/surcharges or 404 if not found.

        **ETIM xChange**: `AllowanceSurcharge[]`
        **Path**: `Supplier[].Product[].TradeItem[].Pricing[].AllowanceSurcharge[]`
      parameters:
        - $ref: '#/components/parameters/supplier-id-gln'
        - $ref: '#/components/parameters/supplier-item-number'
      responses:
        '200':
          description: Successfully retrieved trade item allowances and surcharges
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeItemAllowanceSurchargesResponse'
              examples:
                withAllowancesAndSurcharges:
                  summary: Trade item with multiple allowances and surcharges
                  value:
                    data:
                      supplierIdGln: '1234567890123'
                      supplierItemNumber: SKU-12345
                      allowanceSurcharges:
                        - priceUnit: C62
                          priceQuantity: 1
                          priceValidityDate: '2025-01-01'
                          allowanceSurchargeIndicator: ALLOWANCE
                          allowanceSurchargeValidityDate: '2025-01-01'
                          allowanceSurchargeType: AEQ
                          allowanceSurchargeAmount: null
                          allowanceSurchargeSequenceNumber: 1
                          allowanceSurchargePercentage: 5.5
                          allowanceSurchargeDescription:
                            - language: en
                              allowanceSurchargeDescription: Bulk quantity discount
                            - language: nl
                              allowanceSurchargeDescription: Staffelkorting
                          allowanceSurchargeMinimumQuantity: 50
                        - priceUnit: C62
                          priceQuantity: 1
                          priceValidityDate: '2025-01-01'
                          allowanceSurchargeIndicator: SURCHARGE
                          allowanceSurchargeValidityDate: null
                          allowanceSurchargeType: DBD
                          allowanceSurchargeAmount: 25
                          allowanceSurchargeSequenceNumber: 2
                          allowanceSurchargePercentage: null
                          allowanceSurchargeDescription: null
                          allowanceSurchargeMinimumQuantity: null
                noSurcharges:
                  summary: Trade item without allowances or surcharges
                  value:
                    data:
                      supplierIdGln: '8712423012485'
                      supplierItemNumber: SKU-BASIC-001
                      allowanceSurcharges: null
                multiplePricings:
                  summary: Trade item with surcharges across multiple pricing entries
                  value:
                    data:
                      supplierIdGln: '9876543210987'
                      supplierItemNumber: SKU-VOLUME-002
                      allowanceSurcharges:
                        - priceUnit: MTR
                          priceQuantity: 1
                          priceValidityDate: '2025-01-01'
                          allowanceSurchargeIndicator: ALLOWANCE
                          allowanceSurchargeValidityDate: '2025-01-01'
                          allowanceSurchargeType: AEQ
                          allowanceSurchargeAmount: null
                          allowanceSurchargeSequenceNumber: 1
                          allowanceSurchargePercentage: 2
                          allowanceSurchargeDescription: null
                          allowanceSurchargeMinimumQuantity: 100
                        - priceUnit: MTR
                          priceQuantity: 100
                          priceValidityDate: '2025-01-01'
                          allowanceSurchargeIndicator: ALLOWANCE
                          allowanceSurchargeValidityDate: '2025-01-01'
                          allowanceSurchargeType: AEQ
                          allowanceSurchargeAmount: null
                          allowanceSurchargeSequenceNumber: 1
                          allowanceSurchargePercentage: 5
                          allowanceSurchargeDescription: null
                          allowanceSurchargeMinimumQuantity: 500
        '400':
          $ref: '#/components/responses/400-bad-request'
        '401':
          $ref: '#/components/responses/401-unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden'
        '404':
          description: Trade item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://api.tradeitem.2ba.nl/problems/not-found
                title: Trade Item Not Found
                status: 404
                detail: No trade item found with supplier GLN '1234567890123' and item number 'UNKNOWN-SKU'
                instance: https://api.tradeitem.2ba.nl/v1/1234567890123/UNKNOWN-SKU/allowance-surcharges
        '500':
          $ref: '#/components/responses/500-internal-server-error'
  /bulk/trade-item-details:
    get:
      operationId: getBulkTradeItemDetails
      tags:
        - TradeItems bulk
      summary: Retrieve trade item details in bulk
      description: |
        Retrieve trade item identification and details in bulk with cursor-based pagination.

        Returns a flat structure where each item includes its composite key 
        (`supplierIdGln` + `supplierItemNumber`) along with all identification and details fields:
        - Alternative item numbers (supplier, manufacturer, buyer)
        - Global Trade Item Numbers (GTINs)
        - Discount and bonus group information
        - Validity and obsolescence dates
        - Item status and condition

        **Note**: Item descriptions are available via `/bulk/trade-item-descriptions` endpoint.

        Use this endpoint for:
        - Initial data synchronization
        - Incremental updates (using `mutationDateTime` filter)
        - Filtered data retrieval (using `selectionId` or `supplierIdGln`)

        **Pagination**: Use the `cursor` from the response `meta` to retrieve subsequent pages.
      parameters:
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/selection-id'
        - $ref: '#/components/parameters/supplier-id-gln-filter'
        - $ref: '#/components/parameters/mutation-date-time'
      responses:
        '200':
          description: Successfully retrieved trade item details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkTradeItemDetailsResponse'
              examples:
                multipleItems:
                  summary: Multiple trade items with pagination
                  value:
                    data:
                      - supplierIdGln: '8712423012485'
                        supplierItemNumber: SKU-LAMP-001
                        supplierAltItemNumber: ALT-SKU-001
                        manufacturerItemNumber: MFR-12345
                        manufacturerIdGln: '9876543210987'
                        manufacturerProductNumber: '929002376910'
                        itemGtins:
                          - '08712423012485'
                        buyerItemNumber: null
                        discountGroupId: DG-LIGHTING
                        discountGroupDescription: Lighting products
                        bonusGroupId: null
                        bonusGroupDescription: null
                        itemValidityDate: '2024-01-01'
                        itemObsolescenceDate: null
                        itemStatus: ACTIVE
                        itemCondition: NEW
                        stockItem: true
                        shelfLifePeriod: null
                      - supplierIdGln: '8712423012485'
                        supplierItemNumber: SKU-TOOL-002
                        supplierAltItemNumber: null
                        manufacturerItemNumber: MFR-54321
                        manufacturerIdGln: '9876543210987'
                        manufacturerProductNumber: HAMMER-PRO-500
                        itemGtins:
                          - '08712423054321'
                        buyerItemNumber: BUYER-002
                        discountGroupId: DG-TOOLS
                        discountGroupDescription: Hand tools
                        bonusGroupId: BG-PREMIUM
                        bonusGroupDescription: Premium tier
                        itemValidityDate: '2023-06-01'
                        itemObsolescenceDate: '2028-12-31'
                        itemStatus: ACTIVE
                        itemCondition: NEW
                        stockItem: true
                        shelfLifePeriod: null
                    meta:
                      cursor: eyJzdXBwbGllcklkR2xuIjoiODcxMjQyMzAxMjQ4NSIsInN1cHBsaWVySXRlbU51bWJlciI6IlNLVS1UT09MLTAwMiJ9
                      hasNext: true
                      hasPrev: false
                      limit: 100
                      estimatedTotal: 15420
                emptyResult:
                  summary: No items match the filter criteria
                  value:
                    data: []
                    meta:
                      cursor: null
                      hasNext: false
                      hasPrev: false
                      limit: 100
                      estimatedTotal: 0
        '400':
          $ref: '#/components/responses/400-bad-request'
        '401':
          $ref: '#/components/responses/401-unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden'
        '500':
          $ref: '#/components/responses/500-internal-server-error'
  /bulk/trade-item-descriptions:
    get:
      operationId: getBulkTradeItemDescriptions
      tags:
        - TradeItems bulk
      summary: Retrieve trade item descriptions in bulk
      description: |
        Retrieve trade item descriptions in bulk with cursor-based pagination.
        Returns a flattened structure where each row represents a single language description
        with the trade item identifier (`supplierIdGln` + `supplierItemNumber`).

        A trade item with descriptions in 3 languages will result in 3 rows.

        This flattened structure is optimized for:
        - Predictable payload sizes per row
        - Efficient cursor-based pagination
        - ETL/data warehouse ingestion
        - Streaming data processing
        - Language filtering at row level
      parameters:
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/selection-id'
        - $ref: '#/components/parameters/supplier-id-gln-filter'
        - $ref: '#/components/parameters/mutation-date-time'
        - $ref: '#/components/parameters/language'
      responses:
        '200':
          description: Successfully retrieved trade item descriptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkTradeItemDescriptionsResponse'
              examples:
                multipleItems:
                  summary: Multiple trade item descriptions
                  value:
                    data:
                      - supplierIdGln: '1234567890123'
                        supplierItemNumber: SKU-12345
                        descriptionLanguage: en-GB
                        minimalItemDescription: LED Lamp 10W E27
                        uniqueMainItemDescription: Professional LED lamp with E27 socket, 10W warm white
                      - supplierIdGln: '1234567890123'
                        supplierItemNumber: SKU-12345
                        descriptionLanguage: de-DE
                        minimalItemDescription: LED Lampe 10W E27
                        uniqueMainItemDescription: Professionelle LED-Lampe mit E27-Fassung, 10W warmweiß
                      - supplierIdGln: '1234567890123'
                        supplierItemNumber: SKU-67890
                        descriptionLanguage: en-GB
                        minimalItemDescription: Hammer 500g
                        uniqueMainItemDescription: Professional claw hammer with fiberglass handle
                    meta:
                      cursor: eyJpZCI6MTIzfQ==
                      hasNext: true
                      hasPrev: false
                      limit: 100
                      estimatedTotal: 15420
        '400':
          $ref: '#/components/responses/400-bad-request'
        '401':
          $ref: '#/components/responses/401-unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden'
        '500':
          $ref: '#/components/responses/500-internal-server-error'
  /bulk/trade-item-orderings:
    get:
      operationId: getBulkTradeItemOrderings
      summary: Retrieve trade item ordering information in bulk
      description: |
        Retrieve trade item ordering information in bulk with cursor-based pagination.
        Returns ordering details including order units, minimum/maximum quantities, order step sizes,
        lead times, and unit conversions.

        Each item in the response includes its composite key (`supplierIdGln` + `supplierItemNumber`)
        along with all ordering fields in a flat structure.

        This endpoint is optimized for scenarios where only ordering data is needed,
        such as inventory management or order processing systems.

        **ETIM xChange**: Bulk retrieval of `Ordering` data  
        **Path**: `Supplier[].Product[].TradeItem[].Ordering`
      tags:
        - TradeItems bulk
      parameters:
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/selection-id'
        - $ref: '#/components/parameters/mutation-date-time'
        - $ref: '#/components/parameters/supplier-id-gln-filter'
      responses:
        '200':
          description: Successfully retrieved trade item ordering information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkTradeItemOrderingsResponse'
              examples:
                success:
                  summary: Successful bulk retrieval
                  value:
                    data:
                      - supplierIdGln: '8712423012485'
                        supplierItemNumber: SKU-LAMP-001
                        orderUnit: C62
                        minimumOrderQuantity: 1
                        orderStepSize: 1
                        standardOrderLeadTime: 5
                        useUnit: null
                        useUnitConversionFactor: null
                        singleUseUnitQuantity: null
                        alternativeUseUnit: null
                        alternativeUseUnitConversionFactor: null
                      - supplierIdGln: '8712423012485'
                        supplierItemNumber: SKU-CABLE-002
                        orderUnit: MTR
                        minimumOrderQuantity: 10
                        orderStepSize: 5
                        standardOrderLeadTime: 3
                        useUnit: MTR
                        useUnitConversionFactor: 1
                        singleUseUnitQuantity: 1
                        alternativeUseUnit: null
                        alternativeUseUnitConversionFactor: null
                    meta:
                      cursor: eyJzdXBwbGllcklkR2xuIjoiODcxMjQyMzAxMjQ4NSJ9
                      hasNext: true
                      hasPrev: false
                      limit: 100
                      estimatedTotal: 15420
        '400':
          $ref: '#/components/responses/400-bad-request'
        '401':
          $ref: '#/components/responses/401-unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden'
        '500':
          $ref: '#/components/responses/500-internal-server-error'
  /bulk/trade-item-pricings:
    get:
      operationId: getBulkTradeItemPricings
      summary: Retrieve trade item pricing information in bulk
      description: |
        Retrieve trade item pricing information in bulk with cursor-based pagination.
        Returns pricing details including net prices, gross list prices, recommended retail prices,
        VAT, price validity periods, allowances/surcharges, and the catalog-level currency code.

        **Flattened Structure**: Each row represents a single price entry with embedded composite key
        (`supplierIdGln` + `supplierItemNumber`). This follows the same pattern as 
        `/bulk/product-etim-classifications` - 1 row per data point.

        A trade item with multiple price tiers (e.g., quantity breaks, validity periods) will have
        multiple rows with the same composite key but different pricing data.

        This endpoint is optimized for:
        - Predictable payload sizes per row
        - Efficient cursor-based pagination
        - ETL/data warehouse ingestion
        - Price synchronization scenarios

        **ETIM xChange**: Bulk retrieval of `Pricing[]` data  
        **Path**: `Supplier[].Product[].TradeItem[].Pricing[]`
      tags:
        - TradeItems bulk
      parameters:
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/selection-id'
        - $ref: '#/components/parameters/mutation-date-time'
        - $ref: '#/components/parameters/supplier-id-gln-filter'
      responses:
        '200':
          description: Successfully retrieved trade item pricing entries (1 row per price)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkTradeItemPricingsResponse'
              examples:
                success:
                  summary: Successful bulk retrieval (flattened - 1 row per price entry)
                  value:
                    data:
                      - supplierIdGln: '8712423012485'
                        supplierItemNumber: SKU-LAMP-001
                        priceUnit: C62
                        priceQuantity: 1
                        currencyCode: EUR
                        priceOnRequest: false
                        grossListPrice: 12.99
                        netPrice: 9.99
                        recommendedRetailPrice: 15.99
                        vat: 21
                        priceValidityDate: '2025-01-01'
                        priceExpiryDate: '2025-12-31'
                      - supplierIdGln: '8712423012485'
                        supplierItemNumber: SKU-CABLE-002
                        priceUnit: MTR
                        priceQuantity: 1
                        currencyCode: EUR
                        netPrice: 1.99
                        priceValidityDate: '2025-01-01'
                      - supplierIdGln: '8712423012485'
                        supplierItemNumber: SKU-CABLE-002
                        priceUnit: MTR
                        priceQuantity: 100
                        currencyCode: EUR
                        netPrice: 1.59
                        priceValidityDate: '2025-01-01'
                    meta:
                      cursor: eyJzdXBwbGllcklkR2xuIjoiODcxMjQyMzAxMjQ4NSIsInByaWNlUXVhbnRpdHkiOjEwMH0=
                      hasNext: true
                      hasPrev: false
                      limit: 100
                      estimatedTotal: 24850
        '400':
          $ref: '#/components/responses/400-bad-request'
        '401':
          $ref: '#/components/responses/401-unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden'
        '500':
          $ref: '#/components/responses/500-internal-server-error'
  /bulk/trade-item-allowance-surcharges:
    get:
      operationId: getBulkAllowanceSurcharges
      summary: Retrieve trade item allowances and surcharges in bulk
      description: |
        Retrieve trade item allowances and surcharges in bulk with cursor-based pagination.
        Returns discount allowances and additional charge surcharges applied to trade item pricing.

        **Flattened Structure**: Each row represents a single allowance/surcharge entry with embedded 
        composite key (`supplierIdGln` + `supplierItemNumber`) and pricing reference keys 
        (`priceUnit` + `priceQuantity` + `priceValidityDate`).

        **Join Pattern**: Use this endpoint in combination with `/bulk/trade-item-pricings` to build
        a complete pricing picture:
        ```sql
        SELECT p.*, a.*
        FROM pricings p
        LEFT JOIN allowance_surcharges a
          ON p.supplierIdGln = a.supplierIdGln
         AND p.supplierItemNumber = a.supplierItemNumber
         AND p.priceUnit = a.priceUnit
         AND p.priceQuantity = a.priceQuantity
         AND (p.priceValidityDate = a.priceValidityDate OR a.priceValidityDate IS NULL)
        ```

        This endpoint is optimized for:
        - Predictable payload sizes per row
        - Efficient cursor-based pagination
        - ETL/data warehouse ingestion (star schema: pricing fact + surcharges fact)
        - Price adjustment synchronization scenarios

        **ETIM xChange**: Bulk retrieval of `AllowanceSurcharge[]` data  
        **Path**: `Supplier[].Product[].TradeItem[].Pricing[].AllowanceSurcharge[]`
      tags:
        - TradeItems bulk
      parameters:
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/selection-id'
        - $ref: '#/components/parameters/mutation-date-time'
        - $ref: '#/components/parameters/supplier-id-gln-filter'
      responses:
        '200':
          description: Successfully retrieved allowance/surcharge entries (1 row per surcharge)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkAllowanceSurchargesResponse'
              examples:
                success:
                  summary: Successful bulk retrieval (flattened - 1 row per surcharge entry)
                  value:
                    data:
                      - supplierIdGln: '8712423012485'
                        supplierItemNumber: SKU-LAMP-001
                        priceUnit: C62
                        priceQuantity: 1
                        priceValidityDate: '2025-01-01'
                        allowanceSurchargeIndicator: ALLOWANCE
                        allowanceSurchargeType: AEQ
                        allowanceSurchargeSequenceNumber: 1
                        allowanceSurchargePercentage: 5.5
                        allowanceSurchargeMinimumQuantity: 50
                        allowanceSurchargeDescription: Bulk quantity discount
                      - supplierIdGln: '8712423012485'
                        supplierItemNumber: SKU-CABLE-002
                        priceUnit: MTR
                        priceQuantity: 1
                        priceValidityDate: '2025-01-01'
                        allowanceSurchargeIndicator: SURCHARGE
                        allowanceSurchargeType: DBD
                        allowanceSurchargeSequenceNumber: 1
                        allowanceSurchargeAmount: 25
                        allowanceSurchargeDescription: Delivery surcharge
                    meta:
                      cursor: eyJzdXBwbGllcklkR2xuIjoiODcxMjQyMzAxMjQ4NSJ9
                      hasNext: true
                      hasPrev: false
                      limit: 100
                      estimatedTotal: 3250
        '400':
          $ref: '#/components/responses/400-bad-request'
        '401':
          $ref: '#/components/responses/401-unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden'
        '500':
          $ref: '#/components/responses/500-internal-server-error'
components:
  schemas:
    ErrorResponse:
      $ref: '#/components/schemas/ProblemDetails'
    TechnicalId:
      type: string
      description: Generic technical identifier that can hold an integer, string, or GUID/UUID value. Used for opaque system-generated identifiers such as selection IDs, internal references, and other technical keys where the format is not prescribed.
      minLength: 1
      maxLength: 50
      examples:
        - SELECTION-2024-Q1
        - '123456'
        - f47ac10b-58cc-4372-a567-0e02b2c3d479
    TradeItemDetails:
      type: object
      description: |
        Trade item identification and details information without composite key fields.
        Combines fields from ETIM xChange `ItemIdentification` and `ItemDetails` sections.

        Used in single-item responses where the key (`supplierIdGln` + `supplierItemNumber`) 
        is provided at the root level.

        For bulk retrieval with embedded keys, use `TradeItemDetailsSummary`.

        **Note**: Item descriptions are available via a separate `/descriptions` endpoint.
      additionalProperties: false
      required:
        - manufacturerIdGln
        - manufacturerProductNumber
      properties:
        supplierAltItemNumber:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 35
          description: |
            Alternative supplier item number. Used when the supplier has multiple numbering 
            systems or legacy item numbers.

            **ETIM xChange**: `SupplierAltItemNumber`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemIdentification.SupplierAltItemNumber`
          examples:
            - ALT-98765
            - null
        manufacturerItemNumber:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 35
          description: |
            Manufacturer's item number. May differ from supplier's number if supplier 
            is a distributor.

            **ETIM xChange**: `ManufacturerItemNumber`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemIdentification.ManufacturerItemNumber`
          examples:
            - MFG-54321
            - null
        manufacturerIdGln:
          description: |
            Global Location Number (GLN) of the manufacturer. 13-digit GS1 identifier.
            Required product key reference - together with `manufacturerProductNumber` identifies the parent product.

            **ETIM xChange**: `ManufacturerIdGln`  
            **Path**: `Supplier[].Product[].ProductIdentification.ManufacturerIdGln`
          $ref: '#/components/schemas/Gln'
        manufacturerProductNumber:
          type: string
          minLength: 1
          maxLength: 35
          description: |
            Manufacturer's product number. Required product key reference - together with 
            `manufacturerIdGln` identifies the parent product.

            **ETIM xChange**: `ManufacturerProductNumber`  
            **Path**: `Supplier[].Product[].ProductIdentification.ManufacturerProductNumber`
          examples:
            - '929002376910'
            - PROD-ABC-123
        itemGtins:
          type:
            - array
            - 'null'
          uniqueItems: true
          items:
            $ref: '#/components/schemas/Gtin'
          description: |
            Array of Global Trade Item Numbers (GTIN-8, GTIN-12, GTIN-13, or GTIN-14) 
            for the item. Multiple GTINs may exist for different packaging levels or markets.

            **ETIM xChange**: `ItemGtin[]`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemIdentification.ItemGtin[]`
          examples:
            - - '4012345678901'
              - '04012345678901'
            - null
        buyerItemNumber:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 35
          description: |
            Buyer's specific item number. Used when buyer has assigned their own 
            numbering to supplier items.

            **ETIM xChange**: `BuyerItemNumber`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemIdentification.BuyerItemNumber`
          examples:
            - BUYER-XYZ-123
            - null
        discountGroupId:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 20
          description: |
            Identifier for the discount group this item belongs to. 
            Used for pricing and discount calculations.

            **ETIM xChange**: `DiscountGroupId`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemIdentification.DiscountGroupId`
          examples:
            - DG-001
            - null
        discountGroupDescription:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 100
          description: |
            Human-readable description of the discount group. 
            Flattened from multilingual array (primary language).

            **ETIM xChange**: `DiscountGroupDescription[].DiscountGroupDescription`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemIdentification.DiscountGroupDescription[].DiscountGroupDescription`
          examples:
            - Standard tools discount group
            - null
        bonusGroupId:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 20
          description: |
            Identifier for the bonus group this item belongs to. 
            Used for bonus/rebate calculations.

            **ETIM xChange**: `BonusGroupId`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemIdentification.BonusGroupId`
          examples:
            - BG-002
            - null
        bonusGroupDescription:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 100
          description: |
            Human-readable description of the bonus group. 
            Flattened from multilingual array (primary language).

            **ETIM xChange**: `BonusGroupDescription[].BonusGroupDescription`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemIdentification.BonusGroupDescription[].BonusGroupDescription`
          examples:
            - Premium bonus tier
            - null
        itemValidityDate:
          type:
            - string
            - 'null'
          format: date
          description: |
            Date from which the trade item is valid for ordering. 
            ISO 8601 date format (YYYY-MM-DD).

            **ETIM xChange**: `ItemValidityDate`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemIdentification.ItemValidityDate`
          examples:
            - '2025-01-15'
            - '2024-06-01'
            - null
        itemObsolescenceDate:
          type:
            - string
            - 'null'
          format: date
          description: |
            Date when the trade item becomes obsolete and is no longer available for ordering.
            ISO 8601 date format (YYYY-MM-DD).

            **ETIM xChange**: `ItemObsolescenceDate`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemIdentification.ItemObsolescenceDate`
          examples:
            - '2026-12-31'
            - null
        itemStatus:
          description: |
            Current lifecycle status of the trade item in the supplier's catalog.

            - `PRE-LAUNCH`: Item announced but not yet available
            - `ACTIVE`: Item is currently available
            - `ON HOLD`: Item temporarily unavailable
            - `PLANNED WITHDRAWAL`: Item scheduled for discontinuation
            - `OBSOLETE`: Item no longer available

            **ETIM xChange**: `ItemStatus`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemDetails.ItemStatus`
          anyOf:
            - $ref: '#/components/schemas/ItemStatus'
            - type: 'null'
          examples:
            - ACTIVE
            - PRE-LAUNCH
            - null
        itemCondition:
          description: |
            Physical condition of the trade item.

            - `NEW`: Brand new item
            - `USED`: Previously used item
            - `REFURBISHED`: Restored to working condition

            **ETIM xChange**: `ItemCondition`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemDetails.ItemCondition`
          anyOf:
            - $ref: '#/components/schemas/ItemCondition'
            - type: 'null'
          examples:
            - NEW
            - REFURBISHED
            - null
        stockItem:
          type:
            - boolean
            - 'null'
          description: |
            Indicates whether the item is a stock item (true) or made-to-order (false).
            Stock items are typically available for immediate delivery.

            **ETIM xChange**: `StockItem`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemDetails.StockItem`
          examples:
            - true
            - false
            - null
        shelfLifePeriod:
          type:
            - integer
            - 'null'
          minimum: 0
          maximum: 999
          description: |
            Shelf life period of the item in days. Indicates how long the item remains 
            usable after production. Applicable for items with limited shelf life.

            **ETIM xChange**: `ShelfLifePeriod`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemDetails.ShelfLifePeriod`
          examples:
            - 365
            - 730
            - null
      examples:
        - supplierAltItemNumber: ALT-12345
          manufacturerItemNumber: MFG-98765
          manufacturerIdGln: '9876543210987'
          manufacturerProductNumber: '929002376910'
          itemGtins:
            - '4012345678901'
          buyerItemNumber: null
          discountGroupId: DG-001
          discountGroupDescription: Standard discount group
          bonusGroupId: null
          bonusGroupDescription: null
          itemValidityDate: '2024-01-01'
          itemObsolescenceDate: null
          itemStatus: ACTIVE
          itemCondition: NEW
          stockItem: true
          shelfLifePeriod: null
    TradeItemDetailsSummary:
      type: object
      description: |
        Trade item identification and details for bulk retrieval, with embedded composite key fields.
        Combines fields from ETIM xChange `ItemIdentification` and `ItemDetails` sections.

        This flat structure is optimized for bulk data retrieval where each item in the response
        must be self-contained with its own key.

        For single-item responses (where key is at root level), use `TradeItemDetails`.

        **Note**: Item descriptions are available via `/bulk/trade-item-descriptions` endpoint.
      additionalProperties: false
      required:
        - supplierIdGln
        - supplierItemNumber
        - manufacturerIdGln
        - manufacturerProductNumber
      properties:
        supplierIdGln:
          type: string
          pattern: ^[0-9]{13}$
          description: |
            Global Location Number (GLN) of the supplier. 13-digit GS1 identifier.
            Part of the composite key for the trade item.

            **ETIM xChange**: `SupplierIdGln`  
            **Path**: `Supplier[].SupplierId.SupplierIdGln`
          examples:
            - '1234567890123'
            - '8712423012485'
        supplierItemNumber:
          type: string
          minLength: 1
          maxLength: 35
          description: |
            Supplier's unique item number. Part of the composite key for the trade item.
            This is the primary identifier for items in the supplier's catalog system.

            **ETIM xChange**: `SupplierItemNumber`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemIdentification.SupplierItemNumber`
          examples:
            - SKU-12345
            - ITEM-ABC-789
        supplierAltItemNumber:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 35
          description: |
            Alternative supplier item number. Used when the supplier has multiple numbering 
            systems or legacy item numbers.

            **ETIM xChange**: `SupplierAltItemNumber`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemIdentification.SupplierAltItemNumber`
          examples:
            - ALT-98765
            - null
        manufacturerItemNumber:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 35
          description: |
            Manufacturer's item number. May differ from supplier's number if supplier 
            is a distributor.

            **ETIM xChange**: `ManufacturerItemNumber`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemIdentification.ManufacturerItemNumber`
          examples:
            - MFG-54321
            - null
        manufacturerIdGln:
          type: string
          pattern: ^[0-9]{13}$
          description: |
            Global Location Number (GLN) of the manufacturer. 13-digit GS1 identifier.
            Required product key reference - together with `manufacturerProductNumber` identifies the parent product.

            **ETIM xChange**: `ManufacturerIdGln`  
            **Path**: `Supplier[].Product[].ProductIdentification.ManufacturerIdGln`
          examples:
            - '9876543210987'
        manufacturerProductNumber:
          type: string
          minLength: 1
          maxLength: 35
          description: |
            Manufacturer's product number. Required product key reference - together with 
            `manufacturerIdGln` identifies the parent product.

            **ETIM xChange**: `ManufacturerProductNumber`  
            **Path**: `Supplier[].Product[].ProductIdentification.ManufacturerProductNumber`
          examples:
            - '929002376910'
            - PROD-ABC-123
        itemGtins:
          type:
            - array
            - 'null'
          uniqueItems: true
          items:
            type: string
            pattern: ^[0-9]{8,14}$
          description: |
            Array of Global Trade Item Numbers (GTIN-8, GTIN-12, GTIN-13, or GTIN-14) 
            for the item. Multiple GTINs may exist for different packaging levels or markets.

            **ETIM xChange**: `ItemGtin[]`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemIdentification.ItemGtin[]`
          examples:
            - - '4012345678901'
              - '04012345678901'
            - null
        buyerItemNumber:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 35
          description: |
            Buyer's specific item number. Used when buyer has assigned their own 
            numbering to supplier items.

            **ETIM xChange**: `BuyerItemNumber`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemIdentification.BuyerItemNumber`
          examples:
            - BUYER-XYZ-123
            - null
        discountGroupId:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 20
          description: |
            Identifier for the discount group this item belongs to. 
            Used for pricing and discount calculations.

            **ETIM xChange**: `DiscountGroupId`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemIdentification.DiscountGroupId`
          examples:
            - DG-001
            - null
        discountGroupDescription:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 100
          description: |
            Human-readable description of the discount group. 
            Flattened from multilingual array (primary language).

            **ETIM xChange**: `DiscountGroupDescription[].DiscountGroupDescription`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemIdentification.DiscountGroupDescription[].DiscountGroupDescription`
          examples:
            - Standard tools discount group
            - null
        bonusGroupId:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 20
          description: |
            Identifier for the bonus group this item belongs to. 
            Used for bonus/rebate calculations.

            **ETIM xChange**: `BonusGroupId`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemIdentification.BonusGroupId`
          examples:
            - BG-002
            - null
        bonusGroupDescription:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 100
          description: |
            Human-readable description of the bonus group. 
            Flattened from multilingual array (primary language).

            **ETIM xChange**: `BonusGroupDescription[].BonusGroupDescription`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemIdentification.BonusGroupDescription[].BonusGroupDescription`
          examples:
            - Premium bonus tier
            - null
        itemValidityDate:
          type:
            - string
            - 'null'
          format: date
          description: |
            Date from which the trade item is valid for ordering. 
            ISO 8601 date format (YYYY-MM-DD).

            **ETIM xChange**: `ItemValidityDate`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemIdentification.ItemValidityDate`
          examples:
            - '2025-01-15'
            - null
        itemObsolescenceDate:
          type:
            - string
            - 'null'
          format: date
          description: |
            Date when the trade item becomes obsolete and is no longer available for ordering.
            ISO 8601 date format (YYYY-MM-DD).

            **ETIM xChange**: `ItemObsolescenceDate`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemIdentification.ItemObsolescenceDate`
          examples:
            - '2026-12-31'
            - null
        itemStatus:
          type:
            - string
            - 'null'
          enum:
            - PRE-LAUNCH
            - ACTIVE
            - ON HOLD
            - PLANNED WITHDRAWAL
            - OBSOLETE
            - null
          description: |
            Current lifecycle status of the trade item in the supplier's catalog.

            - `PRE-LAUNCH`: Item announced but not yet available
            - `ACTIVE`: Item is currently available
            - `ON HOLD`: Item temporarily unavailable
            - `PLANNED WITHDRAWAL`: Item scheduled for discontinuation
            - `OBSOLETE`: Item no longer available

            **ETIM xChange**: `ItemStatus`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemDetails.ItemStatus`
          examples:
            - ACTIVE
            - PRE-LAUNCH
            - null
        itemCondition:
          type:
            - string
            - 'null'
          enum:
            - NEW
            - USED
            - REFURBISHED
            - null
          description: |
            Physical condition of the trade item.

            - `NEW`: Brand new item
            - `USED`: Previously used item
            - `REFURBISHED`: Restored to working condition

            **ETIM xChange**: `ItemCondition`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemDetails.ItemCondition`
          examples:
            - NEW
            - REFURBISHED
            - null
        stockItem:
          type:
            - boolean
            - 'null'
          description: |
            Indicates whether the item is a stock item (true) or made-to-order (false).
            Stock items are typically available for immediate delivery.

            **ETIM xChange**: `StockItem`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemDetails.StockItem`
          examples:
            - true
            - false
            - null
        shelfLifePeriod:
          type:
            - integer
            - 'null'
          minimum: 0
          maximum: 999
          description: |
            Shelf life period of the item in days. Indicates how long the item remains 
            usable after production. Applicable for items with limited shelf life.

            **ETIM xChange**: `ShelfLifePeriod`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemDetails.ShelfLifePeriod`
          examples:
            - 365
            - 730
            - null
      examples:
        - supplierIdGln: '8712423012485'
          supplierItemNumber: SKU-LAMP-001
          supplierAltItemNumber: ALT-SKU-001
          manufacturerItemNumber: MFR-12345
          manufacturerIdGln: '9876543210987'
          manufacturerProductNumber: '929002376910'
          itemGtins:
            - '08712423012485'
            - '12345678901234'
          buyerItemNumber: null
          discountGroupId: DG-LIGHTING
          discountGroupDescription: Lighting products discount group
          bonusGroupId: null
          bonusGroupDescription: null
          itemValidityDate: '2024-01-01'
          itemObsolescenceDate: null
          itemStatus: ACTIVE
          itemCondition: NEW
          stockItem: true
          shelfLifePeriod: null
    ItemDescriptionsSummary:
      type: object
      description: |
        Flattened trade item description for bulk retrieval.
        Each row represents a single language description with the trade item identifier.

        This flattened structure is optimized for:
        - Predictable payload sizes per row
        - Efficient cursor-based pagination
        - ETL/data warehouse ingestion
        - Streaming data processing
        - Language filtering at row level

        **Payload Optimization**: Optional properties with null values may be omitted from the response
        to minimize payload size. Clients should treat missing properties as null/not applicable.

        **ETIM xChange**: `ItemDetails.ItemDescriptions`  
        **Path**: `Supplier[].Product[].TradeItem[].ItemDetails.ItemDescriptions[]`
      additionalProperties: false
      required:
        - supplierIdGln
        - supplierItemNumber
        - minimalItemDescription
      properties:
        supplierIdGln:
          type: string
          pattern: ^[0-9]{13}$
          description: |
            Global Location Number (GLN) identifying the supplier.
            13-digit GS1 identifier. Part of the composite trade item identifier.
          examples:
            - '1234567890123'
        supplierItemNumber:
          type: string
          minLength: 1
          maxLength: 35
          description: |
            Supplier's unique item identifier.
            Part of the composite trade item identifier.

            **ETIM xChange**: `SupplierItemNumber`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemIdentification.SupplierItemNumber`
          examples:
            - SKU-12345
            - ITEM-ABC-789
        descriptionLanguage:
          type:
            - string
            - 'null'
          pattern: ^[a-z]{2}[-][A-Z]{2}$
          description: |
            Language code for the description in ISO 639-1 and ISO 3166-1 format (e.g., "en-GB", "de-DE").

            **ETIM xChange**: `DescriptionLanguage`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemDetails.ItemDescriptions[].DescriptionLanguage`
          examples:
            - en-GB
            - de-DE
            - nl-NL
        minimalItemDescription:
          type: string
          minLength: 1
          maxLength: 80
          description: |
            Short item description (maximum 80 characters). Minimal required description for item identification.

            **ETIM xChange**: `MinimalItemDescription`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemDetails.ItemDescriptions[].MinimalItemDescription`
          examples:
            - LED Lamp 10W E27
            - Hammer 500g
        uniqueMainItemDescription:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 255
          description: |
            Unique main item description (maximum 255 characters). 
            A concise but comprehensive description that uniquely identifies the trade item.

            **ETIM xChange**: `UniqueMainItemDescription`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemDetails.ItemDescriptions[].UniqueMainItemDescription`
          examples:
            - Professional LED lamp with E27 socket, 10W warm white
            - Professional claw hammer with fiberglass handle, 500g head weight
      examples:
        - supplierIdGln: '1234567890123'
          supplierItemNumber: SKU-12345
          descriptionLanguage: en-GB
          minimalItemDescription: LED Lamp 10W E27
          uniqueMainItemDescription: Professional LED lamp with E27 socket, 10W warm white
        - supplierIdGln: '1234567890123'
          supplierItemNumber: SKU-12345
          descriptionLanguage: de-DE
          minimalItemDescription: LED Lampe 10W E27
          uniqueMainItemDescription: Professionelle LED-Lampe mit E27-Fassung, 10W warmweiß
        - supplierIdGln: '9876543210987'
          supplierItemNumber: ITEM-67890
          descriptionLanguage: en-GB
          minimalItemDescription: Hammer 500g
    TradeItemOrdering:
      type: object
      description: |
        Ordering information for the trade item including order unit, minimum quantities, and lead time.
        Extracted from ETIM xChange `TradeItem.Ordering` structure.

        **ETIM xChange**: `Ordering`
        **Path**: `Supplier[].Product[].TradeItem[].Ordering`
      additionalProperties: false
      required:
        - orderUnit
        - minimumOrderQuantity
        - orderStepSize
      properties:
        orderUnit:
          description: |
            Unit in which the item can be ordered (e.g., pieces, boxes, meters).

            **ETIM xChange**: `OrderUnit`
            **Path**: `Supplier[].Product[].TradeItem[].Ordering.OrderUnit`
          $ref: '#/components/schemas/UnitCodes'
          examples:
            - C62
            - BX
            - MTR
        minimumOrderQuantity:
          type: number
          description: |
            Minimum quantity that must be ordered (converted from ETIM xChange string to number).

            **ETIM xChange**: `MinimumOrderQuantity` (string with pattern)
            **Path**: `Supplier[].Product[].TradeItem[].Ordering.MinimumOrderQuantity`
          minimum: 0
          multipleOf: 0.0001
          maximum: 999999999999.9999
          examples:
            - 1
            - 10
            - 500
        orderStepSize:
          type: number
          description: |
            Quantity increment for orders beyond minimum (converted from ETIM xChange string to number).
            For example, if minimum is 10 and step is 5, you can order 10, 15, 20, etc.

            **ETIM xChange**: `OrderStepSize` (string with pattern)
            **Path**: `Supplier[].Product[].TradeItem[].Ordering.OrderStepSize`
          minimum: 0
          multipleOf: 0.0001
          maximum: 999999999999.9999
          examples:
            - 1
            - 5
            - 100
        standardOrderLeadTime:
          type:
            - integer
            - 'null'
          description: |
            Standard lead time for orders in days.

            **ETIM xChange**: `StandardOrderLeadTime`
            **Path**: `Supplier[].Product[].TradeItem[].Ordering.StandardOrderLeadTime`
          minimum: 0
          examples:
            - 5
            - 14
            - null
        useUnit:
          description: |
            Unit in which the item is used or consumed (may differ from order unit, nullable).

            **ETIM xChange**: `UseUnit`
            **Path**: `Supplier[].Product[].TradeItem[].Ordering.UseUnit`
          anyOf:
            - $ref: '#/components/schemas/UnitCodes'
            - type: 'null'
          examples:
            - MTR
            - KGM
            - null
        useUnitConversionFactor:
          type:
            - number
            - 'null'
          description: |
            Conversion factor from order unit to use unit (converted from ETIM xChange string to number).

            **ETIM xChange**: `UseUnitConversionFactor` (string with pattern)
            **Path**: `Supplier[].Product[].TradeItem[].Ordering.UseUnitConversionFactor`
          minimum: 0
          multipleOf: 0.0001
          maximum: 999999999999.9999
          examples:
            - 1
            - 100
            - null
        singleUseUnitQuantity:
          type:
            - number
            - 'null'
          description: |
            Quantity of use units in a single order unit (converted from ETIM xChange string to number).

            **ETIM xChange**: `SingleUseUnitQuantity` (string with pattern)
            **Path**: `Supplier[].Product[].TradeItem[].Ordering.SingleUseUnitQuantity`
          minimum: 0
          multipleOf: 0.0001
          maximum: 999999999999.9999
          examples:
            - 1
            - 100
            - null
        alternativeUseUnit:
          description: |
            Alternative unit in which the item can be used or consumed (nullable).

            **ETIM xChange**: `AlternativeUseUnit`
            **Path**: `Supplier[].Product[].TradeItem[].Ordering.AlternativeUseUnit`
          anyOf:
            - $ref: '#/components/schemas/UnitCodes'
            - type: 'null'
          examples:
            - LTR
            - null
        alternativeUseUnitConversionFactor:
          type:
            - number
            - 'null'
          description: |
            Conversion factor from order unit to alternative use unit (converted from ETIM xChange string to number).

            **ETIM xChange**: `AlternativeUseUnitConversionFactor` (string with pattern)
            **Path**: `Supplier[].Product[].TradeItem[].Ordering.AlternativeUseUnitConversionFactor`
          minimum: 0
          multipleOf: 0.0001
          maximum: 999999999999.9999
          examples:
            - 1
            - null
      examples:
        - orderUnit: C62
          minimumOrderQuantity: 1
          orderStepSize: 1
          standardOrderLeadTime: 5
          useUnit: null
          useUnitConversionFactor: null
          singleUseUnitQuantity: null
          alternativeUseUnit: null
          alternativeUseUnitConversionFactor: null
    TradeItemOrderingsSummary:
      type: object
      description: |
        Trade item ordering information for bulk retrieval, with embedded composite key fields.
        Contains ordering details from ETIM xChange `TradeItem.Ordering` section.

        This flat structure is optimized for bulk data retrieval where each item in the response
        must be self-contained with its own key.

        For single-item responses (where key is at root level), use `TradeItemOrdering`.

        **ETIM xChange**: `Ordering`
        **Path**: `Supplier[].Product[].TradeItem[].Ordering`
      additionalProperties: false
      required:
        - supplierIdGln
        - supplierItemNumber
        - orderUnit
        - minimumOrderQuantity
        - orderStepSize
      properties:
        supplierIdGln:
          type: string
          pattern: ^[0-9]{13}$
          description: |
            Global Location Number (GLN) of the supplier. 13-digit GS1 identifier.
            Part of the composite key for the trade item.

            **ETIM xChange**: `SupplierIdGln`  
            **Path**: `Supplier[].SupplierId.SupplierIdGln`
          examples:
            - '1234567890123'
            - '8712423012485'
        supplierItemNumber:
          type: string
          minLength: 1
          maxLength: 35
          description: |
            Supplier's unique item number. Part of the composite key for the trade item.
            This is the primary identifier for items in the supplier's catalog system.

            **ETIM xChange**: `SupplierItemNumber`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemIdentification.SupplierItemNumber`
          examples:
            - SKU-12345
            - ITEM-ABC-789
        orderUnit:
          description: |
            Unit in which the item can be ordered (e.g., pieces, boxes, meters).

            **ETIM xChange**: `OrderUnit`
            **Path**: `Supplier[].Product[].TradeItem[].Ordering.OrderUnit`
          $ref: '#/components/schemas/UnitCodes'
          examples:
            - C62
            - BX
            - MTR
        minimumOrderQuantity:
          type: number
          description: |
            Minimum quantity that must be ordered (converted from ETIM xChange string to number).

            **ETIM xChange**: `MinimumOrderQuantity` (string with pattern)
            **Path**: `Supplier[].Product[].TradeItem[].Ordering.MinimumOrderQuantity`
          minimum: 0
          multipleOf: 0.0001
          maximum: 999999999999.9999
          examples:
            - 1
            - 10
            - 500
        orderStepSize:
          type: number
          description: |
            Quantity increment for orders beyond minimum (converted from ETIM xChange string to number).
            For example, if minimum is 10 and step is 5, you can order 10, 15, 20, etc.

            **ETIM xChange**: `OrderStepSize` (string with pattern)
            **Path**: `Supplier[].Product[].TradeItem[].Ordering.OrderStepSize`
          minimum: 0
          multipleOf: 0.0001
          maximum: 999999999999.9999
          examples:
            - 1
            - 5
            - 100
        standardOrderLeadTime:
          type:
            - integer
            - 'null'
          description: |
            Standard lead time for orders in days.

            **ETIM xChange**: `StandardOrderLeadTime`
            **Path**: `Supplier[].Product[].TradeItem[].Ordering.StandardOrderLeadTime`
          minimum: 0
          examples:
            - 5
            - 14
            - null
        useUnit:
          description: |
            Unit in which the item is used or consumed (may differ from order unit, nullable).

            **ETIM xChange**: `UseUnit`
            **Path**: `Supplier[].Product[].TradeItem[].Ordering.UseUnit`
          anyOf:
            - $ref: '#/components/schemas/UnitCodes'
            - type: 'null'
          examples:
            - MTR
            - KGM
            - null
        useUnitConversionFactor:
          type:
            - number
            - 'null'
          description: |
            Conversion factor from order unit to use unit (converted from ETIM xChange string to number).

            **ETIM xChange**: `UseUnitConversionFactor` (string with pattern)
            **Path**: `Supplier[].Product[].TradeItem[].Ordering.UseUnitConversionFactor`
          minimum: 0
          multipleOf: 0.0001
          maximum: 999999999999.9999
          examples:
            - 1
            - 100
            - null
        singleUseUnitQuantity:
          type:
            - number
            - 'null'
          description: |
            Quantity of use units in a single order unit (converted from ETIM xChange string to number).

            **ETIM xChange**: `SingleUseUnitQuantity` (string with pattern)
            **Path**: `Supplier[].Product[].TradeItem[].Ordering.SingleUseUnitQuantity`
          minimum: 0
          multipleOf: 0.0001
          maximum: 999999999999.9999
          examples:
            - 1
            - 100
            - null
        alternativeUseUnit:
          description: |
            Alternative unit in which the item can be used or consumed (nullable).

            **ETIM xChange**: `AlternativeUseUnit`
            **Path**: `Supplier[].Product[].TradeItem[].Ordering.AlternativeUseUnit`
          anyOf:
            - $ref: '#/components/schemas/UnitCodes'
            - type: 'null'
          examples:
            - LTR
            - null
        alternativeUseUnitConversionFactor:
          type:
            - number
            - 'null'
          description: |
            Conversion factor from order unit to alternative use unit (converted from ETIM xChange string to number).

            **ETIM xChange**: `AlternativeUseUnitConversionFactor` (string with pattern)
            **Path**: `Supplier[].Product[].TradeItem[].Ordering.AlternativeUseUnitConversionFactor`
          minimum: 0
          multipleOf: 0.0001
          maximum: 999999999999.9999
          examples:
            - 1
            - null
      examples:
        - supplierIdGln: '8712423012485'
          supplierItemNumber: SKU-LAMP-001
          orderUnit: C62
          minimumOrderQuantity: 1
          orderStepSize: 1
          standardOrderLeadTime: 5
          useUnit: null
          useUnitConversionFactor: null
          singleUseUnitQuantity: null
          alternativeUseUnit: null
          alternativeUseUnitConversionFactor: null
        - supplierIdGln: '8712423012485'
          supplierItemNumber: SKU-CABLE-002
          orderUnit: MTR
          minimumOrderQuantity: 10
          orderStepSize: 5
          standardOrderLeadTime: 3
          useUnit: MTR
          useUnitConversionFactor: 1
          singleUseUnitQuantity: 1
          alternativeUseUnit: null
          alternativeUseUnitConversionFactor: null
    TradeItemPricing:
      type: object
      description: |
        Pricing information for a trade item including prices, price unit, and validity dates.
        Extracted from ETIM xChange `TradeItem.Pricing[]` structure.

        **Allowances & Surcharges**: Available via separate `/{supplierIdGln}/{supplierItemNumber}/allowance-surcharges` endpoint.

        **ETIM xChange**: `Pricing`
        **Path**: `Supplier[].Product[].TradeItem[].Pricing[]`
      additionalProperties: false
      required:
        - priceUnit
        - priceQuantity
        - currencyCode
      properties:
        priceUnit:
          description: |
            Unit for which the price applies (e.g., pieces, boxes, meters).

            **ETIM xChange**: `PriceUnit`
            **Path**: `Supplier[].Product[].TradeItem[].Pricing[].PriceUnit`
          $ref: '#/components/schemas/UnitCodes'
          examples:
            - C62
            - BX
            - MTR
        priceUnitFactor:
          type:
            - number
            - 'null'
          description: |
            Factor to convert price unit to order unit (converted from ETIM xChange string to number).

            **ETIM xChange**: `PriceUnitFactor` (string with pattern)
            **Path**: `Supplier[].Product[].TradeItem[].Pricing[].PriceUnitFactor`
          minimum: 0
          multipleOf: 0.0001
          maximum: 99999999999.9999
          examples:
            - 1
            - 100
            - null
        priceQuantity:
          type: number
          description: |
            Quantity for which the price applies (converted from ETIM xChange string to number).

            **ETIM xChange**: `PriceQuantity` (string with pattern)
            **Path**: `Supplier[].Product[].TradeItem[].Pricing[].PriceQuantity`
          minimum: 0
          multipleOf: 0.0001
          maximum: 99999.9999
          examples:
            - 1
            - 10
            - 100
        currencyCode:
          description: |
            Currency code for all monetary values in this pricing entry.
            Sourced from ETIM xChange `CurrencyCode` at catalog level.
          $ref: '#/components/schemas/CurrencyCode'
          examples:
            - EUR
        priceOnRequest:
          type:
            - boolean
            - 'null'
          description: |
            Indicates whether the price is available only on request.

            **ETIM xChange**: `PriceOnRequest`
            **Path**: `Supplier[].Product[].TradeItem[].Pricing[].PriceOnRequest`
          examples:
            - false
            - true
            - null
        grossListPrice:
          type:
            - number
            - 'null'
          description: |
            Gross list price (before discounts) (converted from ETIM xChange string to number).

            **ETIM xChange**: `GrossListPrice` (string with pattern)
            **Path**: `Supplier[].Product[].TradeItem[].Pricing[].GrossListPrice`
          minimum: 0
          multipleOf: 0.0001
          maximum: 99999999999.9999
          examples:
            - 130
            - 1500
            - null
        netPrice:
          type:
            - number
            - 'null'
          description: |
            Net price (after discounts, before tax) (converted from ETIM xChange string to number).

            **ETIM xChange**: `NetPrice` (string with pattern)
            **Path**: `Supplier[].Product[].TradeItem[].Pricing[].NetPrice`
          minimum: 0
          multipleOf: 0.0001
          maximum: 99999999999.9999
          examples:
            - 100
            - 1200
            - null
        recommendedRetailPrice:
          type:
            - number
            - 'null'
          description: |
            Recommended retail price (MSRP) (converted from ETIM xChange string to number).

            **ETIM xChange**: `RecommendedRetailPrice` (string with pattern)
            **Path**: `Supplier[].Product[].TradeItem[].Pricing[].RecommendedRetailPrice`
          minimum: 0
          multipleOf: 0.0001
          maximum: 99999999999.9999
          examples:
            - 150
            - 1800
            - null
        vat:
          type:
            - number
            - 'null'
          description: |
            VAT/tax percentage (converted from ETIM xChange string to number).

            **ETIM xChange**: `Vat` (string with pattern)
            **Path**: `Supplier[].Product[].TradeItem[].Pricing[].Vat`
          minimum: 0
          multipleOf: 0.01
          maximum: 99.99
          examples:
            - 21
            - 19
            - null
        priceValidityDate:
          type:
            - string
            - 'null'
          format: date
          description: |
            Date from which the price is valid. ISO 8601 date format (YYYY-MM-DD).

            **ETIM xChange**: `PriceValidityDate`
            **Path**: `Supplier[].Product[].TradeItem[].Pricing[].PriceValidityDate`
          examples:
            - '2025-01-01'
            - null
        priceExpiryDate:
          type:
            - string
            - 'null'
          format: date
          description: |
            Date when the price expires. ISO 8601 date format (YYYY-MM-DD).

            **ETIM xChange**: `PriceExpiryDate`
            **Path**: `Supplier[].Product[].TradeItem[].Pricing[].PriceExpiryDate`
          examples:
            - '2025-12-31'
            - null
      examples:
        - priceUnit: C62
          priceUnitFactor: null
          priceQuantity: 1
          currencyCode: EUR
          priceOnRequest: false
          grossListPrice: 130
          netPrice: 100
          recommendedRetailPrice: 150
          vat: 21
          priceValidityDate: '2025-01-01'
          priceExpiryDate: '2025-12-31'
    TradeItemPricingsSummary:
      type: object
      description: |
        Trade item pricing information for bulk retrieval, with embedded composite key fields.
        Contains pricing details from ETIM xChange `TradeItem.Pricing[]` structure.

        This structure is optimized for bulk data retrieval where each item in the response
        must be self-contained with its own key. A trade item may have multiple pricing entries
        for different conditions, customer groups, or validity periods.

        For single-item responses (where key is at root level), use `TradeItemPricing`.

        **ETIM xChange**: `Pricing[]`
        **Path**: `Supplier[].Product[].TradeItem[].Pricing[]`
      additionalProperties: false
      required:
        - supplierIdGln
        - supplierItemNumber
        - pricings
      properties:
        supplierIdGln:
          type: string
          pattern: ^[0-9]{13}$
          description: |
            Global Location Number (GLN) of the supplier. 13-digit GS1 identifier.
            Part of the composite key for the trade item.

            **ETIM xChange**: `SupplierIdGln`  
            **Path**: `Supplier[].SupplierId.SupplierIdGln`
          examples:
            - '1234567890123'
            - '8712423012485'
        supplierItemNumber:
          type: string
          minLength: 1
          maxLength: 35
          description: |
            Supplier's unique item number. Part of the composite key for the trade item.
            This is the primary identifier for items in the supplier's catalog system.

            **ETIM xChange**: `SupplierItemNumber`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemIdentification.SupplierItemNumber`
          examples:
            - SKU-12345
            - ITEM-ABC-789
        pricings:
          type: array
          description: |
            Array of pricing information for this trade item. A trade item may have multiple
            pricing entries for different conditions, customer groups, or validity periods.

            **ETIM xChange**: `Pricing[]`
            **Path**: `Supplier[].Product[].TradeItem[].Pricing[]`
          items:
            $ref: '#/components/schemas/TradeItemPricing'
      examples:
        - supplierIdGln: '8712423012485'
          supplierItemNumber: SKU-LAMP-001
          pricings:
            - priceUnit: C62
              priceUnitFactor: null
              priceQuantity: 1
              currencyCode: EUR
              priceOnRequest: false
              grossListPrice: 12.99
              netPrice: 9.99
              recommendedRetailPrice: 15.99
              vat: 21
              priceValidityDate: '2025-01-01'
              priceExpiryDate: '2025-12-31'
              allowanceSurcharges: null
        - supplierIdGln: '8712423012485'
          supplierItemNumber: SKU-CABLE-002
          pricings:
            - priceUnit: MTR
              priceUnitFactor: 1
              priceQuantity: 1
              currencyCode: EUR
              priceOnRequest: false
              grossListPrice: 2.5
              netPrice: 1.99
              recommendedRetailPrice: 3.49
              vat: 21
              priceValidityDate: '2025-01-01'
              priceExpiryDate: '2025-06-30'
              allowanceSurcharges: null
            - priceUnit: MTR
              priceUnitFactor: 1
              priceQuantity: 100
              currencyCode: EUR
              priceOnRequest: false
              grossListPrice: 2
              netPrice: 1.59
              recommendedRetailPrice: 2.99
              vat: 21
              priceValidityDate: '2025-01-01'
              priceExpiryDate: '2025-06-30'
              allowanceSurcharges: null
    AllowanceSurchargeSummary:
      type: object
      description: |
        Flattened allowance or surcharge for bulk retrieval.
        Each row represents a single allowance/surcharge entry with embedded keys for joining
        back to the parent trade item and pricing entry.

        This flattened structure is optimized for:
        - Predictable payload sizes per row
        - Efficient cursor-based pagination
        - ETL/data warehouse ingestion (star schema: pricing fact + surcharges fact)
        - Streaming data processing

        **Join Keys**: Use `supplierIdGln` + `supplierItemNumber` + `priceUnit` + `priceQuantity` 
        (+ optionally `priceValidityDate`) to join with `/bulk/trade-item-pricings` data.

        **ETIM xChange**: `AllowanceSurcharge`
        **Path**: `Supplier[].Product[].TradeItem[].Pricing[].AllowanceSurcharge[]`
      additionalProperties: false
      required:
        - supplierIdGln
        - supplierItemNumber
        - priceUnit
        - priceQuantity
        - allowanceSurchargeIndicator
        - allowanceSurchargeType
      properties:
        supplierIdGln:
          type: string
          pattern: ^[0-9]{13}$
          description: |
            Global Location Number (GLN) of the supplier. 13-digit GS1 identifier.
            Part of the composite key for the trade item.

            **ETIM xChange**: `SupplierIdGln`  
            **Path**: `Supplier[].SupplierId.SupplierIdGln`
          examples:
            - '1234567890123'
            - '8712423012485'
        supplierItemNumber:
          type: string
          minLength: 1
          maxLength: 35
          description: |
            Supplier's unique item number. Part of the composite key for the trade item.

            **ETIM xChange**: `SupplierItemNumber`  
            **Path**: `Supplier[].Product[].TradeItem[].ItemIdentification.SupplierItemNumber`
          examples:
            - SKU-12345
            - ITEM-ABC-789
        priceUnit:
          description: |
            Unit for which the price applies. Part of the pricing composite key for joining.

            **ETIM xChange**: `PriceUnit`
            **Path**: `Supplier[].Product[].TradeItem[].Pricing[].PriceUnit`
          $ref: '#/components/schemas/UnitCodes'
          examples:
            - C62
            - MTR
        priceQuantity:
          type: number
          description: |
            Quantity for which the price applies. Part of the pricing composite key for joining.

            **ETIM xChange**: `PriceQuantity` (string with pattern)
            **Path**: `Supplier[].Product[].TradeItem[].Pricing[].PriceQuantity`
          minimum: 0
          multipleOf: 0.0001
          maximum: 99999.9999
          examples:
            - 1
            - 10
            - 100
        priceValidityDate:
          type:
            - string
            - 'null'
          format: date
          description: |
            Date from which the price is valid. Optional join key for distinguishing
            prices with same unit/quantity but different validity periods.
            ISO 8601 date format (YYYY-MM-DD).

            **ETIM xChange**: `PriceValidityDate`
            **Path**: `Supplier[].Product[].TradeItem[].Pricing[].PriceValidityDate`
          examples:
            - '2025-01-01'
        allowanceSurchargeIndicator:
          type: string
          description: |
            Indicates whether this price adjustment is an allowance (discount) or a surcharge (additional charge).

            **ETIM xChange**: `AllowanceSurchargeIndicator`
            **Path**: `Supplier[].Product[].TradeItem[].Pricing[].AllowanceSurcharge[].AllowanceSurchargeIndicator`
          enum:
            - ALLOWANCE
            - SURCHARGE
          examples:
            - ALLOWANCE
            - SURCHARGE
        allowanceSurchargeType:
          description: |
            Code describing the reason for the allowance or surcharge.

            **ETIM xChange**: `AllowanceSurchargeType`
            **Path**: `Supplier[].Product[].TradeItem[].Pricing[].AllowanceSurcharge[].AllowanceSurchargeType`
          $ref: '#/components/schemas/AllowanceSurchargeTypes'
        allowanceSurchargeSequenceNumber:
          type:
            - integer
            - 'null'
          description: |
            Sequence number used to order multiple allowances or surcharges applied to the same price.

            **ETIM xChange**: `AllowanceSurchargeSequenceNumber`
            **Path**: `Supplier[].Product[].TradeItem[].Pricing[].AllowanceSurcharge[].AllowanceSurchargeSequenceNumber`
          minimum: 1
          examples:
            - 1
            - 2
        allowanceSurchargeValidityDate:
          type:
            - string
            - 'null'
          format: date
          description: |
            Date from which the allowance or surcharge becomes valid. ISO 8601 date format (YYYY-MM-DD).

            **ETIM xChange**: `AllowanceSurchargeValidityDate`
            **Path**: `Supplier[].Product[].TradeItem[].Pricing[].AllowanceSurcharge[].AllowanceSurchargeValidityDate`
          examples:
            - '2025-01-01'
        allowanceSurchargeAmount:
          type:
            - number
            - 'null'
          description: |
            Fixed monetary amount of the allowance or surcharge.
            Mutually exclusive with `allowanceSurchargePercentage` (typically one or the other is set).

            **ETIM xChange**: `AllowanceSurchargeAmount` (string with pattern)
            **Path**: `Supplier[].Product[].TradeItem[].Pricing[].AllowanceSurcharge[].AllowanceSurchargeAmount`
          minimum: 0
          multipleOf: 0.0001
          maximum: 99999999999.9999
          examples:
            - 15.5
            - 250
        allowanceSurchargePercentage:
          type:
            - number
            - 'null'
          description: |
            Percentage rate of the allowance or surcharge.
            Mutually exclusive with `allowanceSurchargeAmount` (typically one or the other is set).

            **ETIM xChange**: `AllowanceSurchargePercentage` (string with pattern)
            **Path**: `Supplier[].Product[].TradeItem[].Pricing[].AllowanceSurcharge[].AllowanceSurchargePercentage`
          minimum: 0
          multipleOf: 0.001
          maximum: 999.999
          examples:
            - 5.5
            - 12.75
        allowanceSurchargeMinimumQuantity:
          type:
            - number
            - 'null'
          description: |
            Minimum ordered quantity required for the allowance or surcharge to apply.

            **ETIM xChange**: `AllowanceSurchargeMinimumQuantity` (string with pattern)
            **Path**: `Supplier[].Product[].TradeItem[].Pricing[].AllowanceSurcharge[].AllowanceSurchargeMinimumQuantity`
          minimum: 0
          multipleOf: 0.0001
          maximum: 999999999999.9999
          examples:
            - 10
            - 50
        allowanceSurchargeDescription:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 35
          description: |
            Description of the allowance or surcharge (flattened from multilingual array to primary language).

            **ETIM xChange**: `AllowanceSurchargeDescription[].AllowanceSurchargeDescription`
            **Path**: `Supplier[].Product[].TradeItem[].Pricing[].AllowanceSurcharge[].AllowanceSurchargeDescription[]`
          examples:
            - Bulk quantity discount
            - Early payment discount
      examples:
        - supplierIdGln: '8712423012485'
          supplierItemNumber: SKU-LAMP-001
          priceUnit: C62
          priceQuantity: 1
          priceValidityDate: '2025-01-01'
          allowanceSurchargeIndicator: ALLOWANCE
          allowanceSurchargeType: AEQ
          allowanceSurchargeSequenceNumber: 1
          allowanceSurchargePercentage: 5.5
          allowanceSurchargeMinimumQuantity: 50
          allowanceSurchargeDescription: Bulk quantity discount
        - supplierIdGln: '8712423012485'
          supplierItemNumber: SKU-CABLE-002
          priceUnit: MTR
          priceQuantity: 1
          priceValidityDate: '2025-01-01'
          allowanceSurchargeIndicator: SURCHARGE
          allowanceSurchargeType: DBD
[...]
