openapi: 3.1.0
info:
  title: Product API
  version: 1.0.0
  description: |
    API for managing product information, specifications, and categories based on ETIM xChange V2.0.

    ## Features

    - Individual product operations via `/products`
    - Bulk data retrieval via `/products/bulk/*` endpoints with cursor-based pagination

    ## Data Model

    Based on ETIM xChange V2.0 Product schema (excluding TradeItem).
    Flattened structure with minimal nesting for efficient API consumption.
  contact:
    name: Product API Support
    email: support@product.2ba.nl
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://rest.2ba.nl/v1/products
    description: Production server
  - url: https://rest.accept.2ba.nl/v1/products
    description: Acceptance server
security:
  - bearerAuth: []
tags:
  - name: Products
    description: Product operations
    x-displayName: Products
  - name: Products single
    description: Product management operations
    x-displayName: Single Product
  - name: Products bulk
    description: Bulk data retrieval operations for products with cursor-based pagination
    x-displayName: Bulk Products
paths:
  /{manufacturerIdGln}/{manufacturerProductNumber}:
    get:
      operationId: getProduct
      tags:
        - Products single
      summary: Retrieve a single product
      description: |
        Retrieve the complete product information for a specific manufacturer product combination.

        This endpoint returns a single product identified by the composite key of
        `manufacturerIdGln` and `manufacturerProductNumber`. The product key is at the root level,
        with nested objects for each component:

        - **identification**: Manufacturer details, GTINs, brand, dates, customs data
        - **details**: Status, type, warranties, product groups
        - **descriptions**: Multilingual product descriptions (nested array)
        - **etimClassifications**: ETIM classifications with embedded features (nested array)

        **Subresources**: Each component is also available as a dedicated subresource:
        - `/identification` - Product identification only
        - `/details` - Product details only
        - `/descriptions` - Multilingual descriptions with language filtering
        - `/etim-classifications` - ETIM classifications with features

        **ETIM Classification Filtering**: Use the optional `etimReleaseVersion` query parameter
        to filter ETIM classifications to a specific release version (e.g., "9.0", "10.0").

        **No pagination** - Returns exactly one product document or 404 if not found.

        **Composite Key**: The combination of manufacturer GLN and product number uniquely
        identifies a product in the system.
      parameters:
        - $ref: '#/components/parameters/manufacturer-id-gln'
        - $ref: '#/components/parameters/manufacturer-product-number'
        - $ref: '#/components/parameters/etim-release-version'
      responses:
        '200':
          description: Successfully retrieved the product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
              examples:
                fullProduct:
                  summary: Complete product with all components
                  value:
                    data:
                      manufacturerIdGln: '1234567890123'
                      manufacturerProductNumber: '929002376910'
                      identification:
                        manufacturerName: Philips Lighting B.V.
                        manufacturerShortname: Philips
                        productGtins:
                          - '8718699673826'
                        brandName: Hue
                        productAnnouncementDate: '2024-01-15'
                        productValidityDate: '2024-03-01'
                        productObsolescenceDate: null
                        customsCommodityCode: '8539502090'
                        countryOfOrigin:
                          - NL
                      details:
                        productStatus: ACTIVE
                        productType: PHYSICAL
                        customisableProduct: false
                        hasSerialNumber: true
                        warrantyConsumer: 24
                        warrantyBusiness: 36
                      descriptions:
                        - descriptionLanguage: en-GB
                          minimalProductDescription: LED Smart Bulb
                          uniqueMainProductDescription: Philips Hue White and Color Ambiance E27 LED Smart Bulb
                      etimClassifications:
                        - etimClassCode: EC002745
                          etimClassVersion: 1
                          etimReleaseVersion: '9.0'
                          etimFeatures:
                            - etimFeatureCode: EF012345
                              etimValueNumeric: 10
                minimalProduct:
                  summary: Minimal product with required fields only
                  value:
                    data:
                      manufacturerIdGln: '1234567890123'
                      manufacturerProductNumber: LED-12345-A
                      identification:
                        manufacturerName: OSRAM GmbH
                      descriptions:
                        - descriptionLanguage: en-GB
                          minimalProductDescription: LED Lamp
                      etimClassifications: null
        '400':
          $ref: '#/components/responses/400-bad-request'
        '401':
          $ref: '#/components/responses/401-unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden'
        '404':
          description: Product not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://api.product.2ba.nl/problems/not-found
                title: Product Not Found
                status: 404
                detail: No product found with manufacturer GLN '1234567890123' and product number '929002376910'
                instance: https://api.product.2ba.nl/v1/products/1234567890123/929002376910
        '500':
          $ref: '#/components/responses/500-internal-server-error'
  /{manufacturerIdGln}/{manufacturerProductNumber}/identification:
    get:
      operationId: getProductIdentification
      tags:
        - Products single
      summary: Retrieve product identification
      description: |
        Retrieve identification information for a specific manufacturer product combination.

        This endpoint returns product identification data including manufacturer details,
        GTINs, brand information, lifecycle dates, and customs data for a single product
        identified by the composite key of `manufacturerIdGln` and `manufacturerProductNumber`.

        The product key is at the root level, with identification details nested inside.
        This structure aligns with other single-product subresource responses.

        **No pagination** - Returns exactly one product's identification or 404 if not found.
      parameters:
        - $ref: '#/components/parameters/manufacturer-id-gln'
        - $ref: '#/components/parameters/manufacturer-product-number'
      responses:
        '200':
          description: Successfully retrieved product identification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductIdentificationResponse'
              examples:
                fullIdentification:
                  summary: Complete product identification
                  value:
                    data:
                      manufacturerIdGln: '1234567890123'
                      manufacturerProductNumber: '929002376910'
                      identification:
                        manufacturerName: Philips Lighting B.V.
                        manufacturerShortname: Philips
                        productGtins:
                          - '8718699673826'
                        brandName: Hue
                        productAnnouncementDate: '2024-01-15'
                        productValidityDate: '2024-03-01'
                        productObsolescenceDate: null
                        customsCommodityCode: '8539502090'
                        countryOfOrigin:
                          - NL
                minimalIdentification:
                  summary: Minimal product identification
                  value:
                    data:
                      manufacturerIdGln: '1234567890123'
                      manufacturerProductNumber: LED-12345-A
                      identification:
                        manufacturerName: OSRAM GmbH
        '400':
          $ref: '#/components/responses/400-bad-request'
        '401':
          $ref: '#/components/responses/401-unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden'
        '404':
          description: Product not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://api.product.2ba.nl/problems/not-found
                title: Product Not Found
                status: 404
                detail: No product found with manufacturer GLN '1234567890123' and product number '929002376910'
                instance: https://api.product.2ba.nl/v1/products/1234567890123/929002376910/identification
        '500':
          $ref: '#/components/responses/500-internal-server-error'
  /{manufacturerIdGln}/{manufacturerProductNumber}/details:
    get:
      operationId: getProductDetails
      tags:
        - Products single
      summary: Retrieve product details
      description: |
        Retrieve details for a specific manufacturer product combination.

        This endpoint returns product details including status, type, warranties, and
        product groups for a single product identified by the composite key of
        `manufacturerIdGln` and `manufacturerProductNumber`.

        The product key is at the root level, with details nested inside.
        This structure aligns with other single-product subresource responses.

        **Product descriptions**: For multilingual product descriptions, use the dedicated
        `/descriptions` subresource which supports language filtering.

        **No pagination** - Returns exactly one product's details or 404 if not found.
      parameters:
        - $ref: '#/components/parameters/manufacturer-id-gln'
        - $ref: '#/components/parameters/manufacturer-product-number'
      responses:
        '200':
          description: Successfully retrieved product details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetailsResponse'
              examples:
                fullDetails:
                  summary: Complete product details
                  value:
                    data:
                      manufacturerIdGln: '1234567890123'
                      manufacturerProductNumber: '929002376910'
                      details:
                        productStatus: ACTIVE
                        productType: PHYSICAL
                        customisableProduct: false
                        hasSerialNumber: true
                        warrantyConsumer: 24
                        warrantyBusiness: 36
                        relatedManufacturerProductGroup:
                          - Smart Lighting
                          - LED Bulbs
                minimalDetails:
                  summary: Minimal product details
                  value:
                    data:
                      manufacturerIdGln: '1234567890123'
                      manufacturerProductNumber: LED-12345-A
                      details:
                        productStatus: ACTIVE
                        productType: PHYSICAL
        '400':
          $ref: '#/components/responses/400-bad-request'
        '401':
          $ref: '#/components/responses/401-unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden'
        '404':
          description: Product not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://api.product.2ba.nl/problems/not-found
                title: Product Not Found
                status: 404
                detail: No product found with manufacturer GLN '1234567890123' and product number '929002376910'
                instance: https://api.product.2ba.nl/v1/products/1234567890123/929002376910/details
        '500':
          $ref: '#/components/responses/500-internal-server-error'
  /{manufacturerIdGln}/{manufacturerProductNumber}/descriptions:
    get:
      operationId: getProductDescriptions
      tags:
        - Products single
      summary: Retrieve product descriptions
      description: |
        Retrieve multilingual descriptions for a specific manufacturer product combination.

        This endpoint returns product descriptions including minimal, unique main, full descriptions,
        marketing text, specification text, application instructions, keywords, and product page URLs
        for each available language.

        **Language filtering**: Use the optional `language` query parameter to filter
        descriptions to specific language(s). If not specified, all available languages are returned.

        **Nested structure**: Unlike the bulk endpoint `/bulk/product-descriptions` which uses
        a flattened structure optimized for ETL, this single-product endpoint returns descriptions
        in their natural nested format for easier consumption.

        **No pagination** - Returns all descriptions for the specified product.
      parameters:
        - $ref: '#/components/parameters/manufacturer-id-gln'
        - $ref: '#/components/parameters/manufacturer-product-number'
        - $ref: '#/components/parameters/language'
      responses:
        '200':
          description: Successfully retrieved product descriptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDescriptionsResponse'
              examples:
                multipleLanguages:
                  summary: Product with multiple language descriptions
                  value:
                    data:
                      manufacturerIdGln: '1234567890123'
                      manufacturerProductNumber: '929002376910'
                      descriptions:
                        - descriptionLanguage: en-GB
                          minimalProductDescription: LED Smart Bulb E27 White & Color
                          uniqueMainProductDescription: Philips Hue White and Color Ambiance E27 LED Smart Bulb, 806 lumens, Bluetooth
                          fullProductDescription: The Philips Hue White and Color Ambiance E27 LED Smart Bulb offers 16 million colors and 50,000 shades of white light.
                          productKeyword:
                            - smart lighting
                            - LED
                            - color
                          productPageUrl: https://www.philips.com/products/hue-white-color-e27
                        - descriptionLanguage: de-DE
                          minimalProductDescription: LED Smart-Lampe E27 Weiß & Farbe
                          uniqueMainProductDescription: Philips Hue White and Color Ambiance E27 LED Smart-Lampe, 806 Lumen, Bluetooth
                singleLanguage:
                  summary: Filtered to single language
                  value:
                    data:
                      manufacturerIdGln: '1234567890123'
                      manufacturerProductNumber: '929002376910'
                      descriptions:
                        - descriptionLanguage: en-GB
                          minimalProductDescription: LED Smart Bulb E27
                          uniqueMainProductDescription: Philips Hue LED Smart Bulb
                noDescriptions:
                  summary: Product without descriptions
                  value:
                    data:
                      manufacturerIdGln: '1234567890123'
                      manufacturerProductNumber: '929002376910'
                      descriptions: null
        '400':
          $ref: '#/components/responses/400-bad-request'
        '401':
          $ref: '#/components/responses/401-unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden'
        '404':
          description: Product not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://api.product.2ba.nl/problems/not-found
                title: Product Not Found
                status: 404
                detail: No product found with manufacturer GLN '1234567890123' and product number '929002376910'
                instance: https://api.product.2ba.nl/v1/products/1234567890123/929002376910/descriptions
        '500':
          $ref: '#/components/responses/500-internal-server-error'
  /{manufacturerIdGln}/{manufacturerProductNumber}/etim-classifications:
    get:
      operationId: getProductEtimClassifications
      tags:
        - Products single
      summary: Retrieve all ETIM classifications for a product
      description: |
        Retrieve all ETIM classification information for a specific manufacturer product combination.

        This endpoint returns all ETIM classifications (class codes, features, version information)
        for a single product identified by the composite key of `manufacturerIdGln` and
        `manufacturerProductNumber`.

        **ETIM Classification Filtering**: Use the optional `etimReleaseVersion` query parameter
        to filter classifications to a specific release version (e.g., "9.0", "10.0"). If omitted, the latest etimReleaseVersion is returned.

        **No pagination** - Returns all ETIM classifications for the specified product.
        A product can have multiple ETIM classifications across different releases.

        **Use case**: Ideal for retrieving detailed ETIM classification data for a single
        product without fetching all product details.
      parameters:
        - $ref: '#/components/parameters/manufacturer-id-gln'
        - $ref: '#/components/parameters/manufacturer-product-number'
        - $ref: '#/components/parameters/etim-release-version'
      responses:
        '200':
          description: Successfully retrieved product ETIM classifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductEtimClassificationsResponse'
              examples:
                multipleClassifications:
                  summary: Product with multiple ETIM classifications
                  value:
                    data:
                      manufacturerIdGln: '1234567890123'
                      manufacturerProductNumber: '929002376910'
                      etimClassifications:
                        - etimClassCode: EC002745
                          etimClassVersion: 1
                          etimReleaseVersion: '9.0'
                          etimFeatures:
                            - etimFeatureCode: EF000123
                              etimValueCode: EV000789
                            - etimFeatureCode: EF000456
                              etimValueNumeric: 230
                        - etimClassCode: EC001234
                          etimClassVersion: 2
                          etimReleaseVersion: '11.0'
                          etimFeatures:
                            - etimFeatureCode: EF000789
                              etimValueLogical: true
                noClassifications:
                  summary: Product without ETIM classifications
                  value:
                    data:
                      manufacturerIdGln: '1234567890123'
                      manufacturerProductNumber: LED-12345-A
                      etimClassifications: null
        '400':
          $ref: '#/components/responses/400-bad-request'
        '401':
          $ref: '#/components/responses/401-unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden'
        '404':
          description: Product not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://api.product.2ba.nl/problems/not-found
                title: Product Not Found
                status: 404
                detail: No product found with manufacturer GLN '1234567890123' and product number '929002376910'
                instance: https://api.product.2ba.nl/v1/products/1234567890123/929002376910/etim-classifications
        '500':
          $ref: '#/components/responses/500-internal-server-error'
  /bulk/product-identifications:
    get:
      operationId: getBulkProductIdentifications
      tags:
        - Products bulk
      summary: Retrieve product identification information in bulk
      description: |
        Retrieve product identification information in bulk with cursor-based pagination.
        Returns only identification-related fields: manufacturer details, product numbers,
        GTINs, brand information, lifecycle dates, customs codes, and country of origin.

        Use this endpoint for lightweight product identification synchronization.
      parameters:
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/selection-id'
        - $ref: '#/components/parameters/manufacturer-id-gln-2'
        - $ref: '#/components/parameters/mutation-date-time'
      responses:
        '200':
          description: Successfully retrieved product identifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkProductIdentificationsResponse'
        '400':
          $ref: '#/components/responses/400-bad-request'
        '401':
          $ref: '#/components/responses/401-unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden'
        '500':
          $ref: '#/components/responses/500-internal-server-error'
  /bulk/product-details:
    get:
      operationId: getBulkProductDetails
      tags:
        - Products bulk
      summary: Retrieve product details in bulk
      description: |
        Retrieve product detail information in bulk with cursor-based pagination.
        Returns product status, type, descriptions, warranties, and product groups.

        Use this endpoint for product status synchronization.
      parameters:
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/selection-id'
        - $ref: '#/components/parameters/manufacturer-id-gln-2'
        - $ref: '#/components/parameters/mutation-date-time'
      responses:
        '200':
          description: Successfully retrieved product details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkProductDetailsResponse'
        '400':
          $ref: '#/components/responses/400-bad-request'
        '401':
          $ref: '#/components/responses/401-unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden'
        '500':
          $ref: '#/components/responses/500-internal-server-error'
  /bulk/product-descriptions:
    get:
      operationId: getBulkProductDescriptions
      tags:
        - Products bulk
      summary: Retrieve product descriptions in bulk
      description: |
        Retrieve product descriptions in bulk with cursor-based pagination.
        Returns a flattened structure where each row represents a single language description
        with the product identifier (manufacturerIdGln + manufacturerProductNumber).
            A product with descriptions in 3 languages will result in 3 rows.
      parameters:
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/selection-id'
        - $ref: '#/components/parameters/manufacturer-id-gln-2'
        - $ref: '#/components/parameters/mutation-date-time'
        - $ref: '#/components/parameters/language'
      responses:
        '200':
          description: Successfully retrieved product descriptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkProductDescriptionsResponse'
        '400':
          $ref: '#/components/responses/400-bad-request'
        '401':
          $ref: '#/components/responses/401-unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden'
        '500':
          $ref: '#/components/responses/500-internal-server-error'
  /bulk/product-etim-classification-features:
    get:
      operationId: getBulkProductEtimClassificationFeatures
      tags:
        - Products bulk
      summary: Retrieve product ETIM classifications in bulk
      description: |
        Retrieve product ETIM classification feature data in a flattened format with cursor-based pagination.

        **Flattened Structure**: Each row represents a single feature value within a product's ETIM classification.
        This structure is optimized for:
        - Predictable payload sizes (each row has consistent structure)
        - Efficient cursor-based pagination by feature
        - ETL/data warehouse ingestion
        - Streaming data processing

        **Payload Optimization**: Optional properties with null values are omitted from the response
        to minimize payload size. Clients should treat missing properties as null/not applicable.

        **Data Reconstruction**: To reconstruct the hierarchical structure:
        1. Group rows by `manufacturerIdGln` + `manufacturerProductNumber` for products
        2. Within each product, group by `etimClassCode` + `etimReleaseVersion` for classifications
        3. Features are individual rows within each classification group

        **Classification-Only Rows**: Products with classifications but no features are represented
        with `etimFeatureCode` omitted to ensure all classifications are included in the response.

        **ETIM Release Filtering**: Use the optional `etimReleaseVersion` query parameter
        to filter classifications to a specific ETIM release version (e.g., "9.0", "10.0"). If omitted, latest etimReleaseVersion is returned.

        **Use case**: Ideal for bulk synchronization of ETIM classification data to external systems,
        data warehouses, or analytics platforms.
      parameters:
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/selection-id'
        - $ref: '#/components/parameters/manufacturer-id-gln-2'
        - $ref: '#/components/parameters/mutation-date-time'
        - $ref: '#/components/parameters/etim-release-version'
      responses:
        '200':
          description: Successfully retrieved product ETIM classification features
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkProductEtimClassificationFeaturesResponse'
              examples:
                multipleProducts:
                  summary: Multiple products with various feature types
                  value:
                    data:
                      - manufacturerIdGln: '1234567890123'
                        manufacturerProductNumber: '929002376910'
                        etimClassCode: EC002745
                        etimClassVersion: 1
                        etimReleaseVersion: '9.0'
                        etimFeatureCode: EF000123
                        etimValueCode: EV000789
                      - manufacturerIdGln: '1234567890123'
                        manufacturerProductNumber: '929002376910'
                        etimClassCode: EC002745
                        etimClassVersion: 1
                        etimReleaseVersion: '9.0'
                        etimFeatureCode: EF000456
                        etimValueNumeric: 230
                      - manufacturerIdGln: '1234567890123'
                        manufacturerProductNumber: '929002376910'
                        etimClassCode: EC002745
                        etimClassVersion: 1
                        etimReleaseVersion: '9.0'
                        etimFeatureCode: EF000789
                        etimValueLogical: true
                      - manufacturerIdGln: '9876543210987'
                        manufacturerProductNumber: LED-12345-A
                        etimClassCode: EC001234
                        etimClassVersion: 2
                        etimReleaseVersion: '9.0'
                    meta:
                      cursor: eyJtYW51ZmFjdHVyZXJJZEdsbkgiOiI5ODc2NTQzMjEwOTg3IiwibWFudWZhY3R1cmVyUHJvZHVjdE51bWJlciI6IkxFRC0xMjM0NS1BIn0=
                      hasNext: true
                      hasPrev: false
                      limit: 1000
                      estimatedTotal: 245830
                emptyResult:
                  summary: No classification features found
                  value:
                    data: []
                    meta:
                      cursor: null
                      hasNext: false
                      hasPrev: false
                      limit: 1000
                      estimatedTotal: 0
        '400':
          $ref: '#/components/responses/400-bad-request'
        '401':
          $ref: '#/components/responses/401-unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden'
        '500':
          $ref: '#/components/responses/500-internal-server-error'
components:
  schemas:
    ProductIdentification:
      type: object
      description: |
        Product identification information without the composite key fields.
        Used in single-product responses where the key is provided at the root level.

        For bulk retrieval with embedded keys, use `ProductIdentificationSummary`.
      additionalProperties: false
      required:
        - manufacturerName
      properties:
        manufacturerIdDuns:
          type:
            - string
            - 'null'
          pattern: ^[0-9]{9}$
          description: |
            DUNS number identifying the manufacturer.
            9-digit Dun & Bradstreet identifier.
        manufacturerName:
          type: string
          minLength: 1
          maxLength: 80
          description: |
            Official name of the manufacturer.
        manufacturerShortname:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 15
          description: |
            Short name or abbreviation of the manufacturer.
        productGtins:
          type:
            - array
            - 'null'
          uniqueItems: true
          items:
            type: string
            pattern: ^[0-9]{8,14}$
          description: |
            Global Trade Item Numbers (GTINs) for the product.
            Can include GTIN-8, GTIN-12, GTIN-13, or GTIN-14.
        unbrandedProduct:
          type:
            - boolean
            - 'null'
          description: |
            Indicates whether this is an unbranded/white-label product.
        brandName:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 50
          description: |
            Brand name of the product.
        productAnnouncementDate:
          type:
            - string
            - 'null'
          format: date
          description: |
            Date when the product was announced. ISO 8601 date format (YYYY-MM-DD).
        productValidityDate:
          type:
            - string
            - 'null'
          format: date
          description: |
            Date when the product becomes valid/available. ISO 8601 date format (YYYY-MM-DD).
        productObsolescenceDate:
          type:
            - string
            - 'null'
          format: date
          description: |
            Date when the product becomes obsolete. ISO 8601 date format (YYYY-MM-DD).
        customsCommodityCode:
          type:
            - string
            - 'null'
          minLength: 6
          maxLength: 16
          description: |
            Customs/HS commodity code for the product.
        factorCustomsCommodityCode:
          type:
            - number
            - 'null'
          format: decimal
          minimum: 0
          multipleOf: 0.0001
          maximum: 99999999999.9999
          description: |
            Factor for customs commodity code calculation.
        countryOfOrigin:
          type:
            - array
            - 'null'
          uniqueItems: true
          items:
            type: string
            pattern: ^[A-Z]{2}$
          description: |
            ISO 3166-1 alpha-2 country codes for country of origin.
      examples:
        - manufacturerName: Philips Lighting B.V.
          manufacturerShortname: Philips
          productGtins:
            - '8718699673826'
          brandName: Hue
          productAnnouncementDate: '2024-01-15'
          productValidityDate: '2024-03-01'
          productObsolescenceDate: null
          customsCommodityCode: '8539502090'
          countryOfOrigin:
            - NL
    ProductDetails:
      type: object
      description: |
        Product details information without the composite key fields.
        Contains status, type, warranties, and product groups.
        Used in single-product responses where the key is provided at the root level.

        For bulk retrieval with embedded keys, use `ProductDetailsSummary`.

        For product descriptions (text content), use the dedicated `/descriptions` subresource
        which supports language filtering.
      additionalProperties: false
      properties:
        productStatus:
          $ref: '#/components/schemas/ProductStatus'
        productType:
          $ref: '#/components/schemas/ProductType'
        customisableProduct:
          type:
            - boolean
            - 'null'
          description: |
            Indicates whether the product can be customised.

            **ETIM xChange**: `CustomisableProduct`  
            **Path**: `Supplier[].Product[].ProductDetails.CustomisableProduct`
        hasSerialNumber:
          type:
            - boolean
            - 'null'
          description: |
            Indicates whether the product has a serial number.

            **ETIM xChange**: `HasSerialNumber`  
            **Path**: `Supplier[].Product[].ProductDetails.HasSerialNumber`
        warrantyConsumer:
          type:
            - integer
            - 'null'
          minimum: 0
          exclusiveMaximum: 1000
          description: |
            Consumer warranty period in months.

            **ETIM xChange**: `WarrantyConsumer`  
            **Path**: `Supplier[].Product[].ProductDetails.WarrantyConsumer`
        warrantyBusiness:
          type:
            - integer
            - 'null'
          minimum: 0
          exclusiveMaximum: 1000
          description: |
            Business/B2B warranty period in months.

            **ETIM xChange**: `WarrantyBusiness`  
            **Path**: `Supplier[].Product[].ProductDetails.WarrantyBusiness`
        relatedManufacturerProductGroup:
          type:
            - array
            - 'null'
          uniqueItems: true
          items:
            type: string
            minLength: 1
            maxLength: 50
          description: |
            Related manufacturer product groups for categorization.

            **ETIM xChange**: `RelatedManufacturerProductGroup`  
            **Path**: `Supplier[].Product[].ProductDetails.RelatedManufacturerProductGroup[]`
      examples:
        - productStatus: ACTIVE
          productType: PHYSICAL
          customisableProduct: false
          hasSerialNumber: true
          warrantyConsumer: 24
          warrantyBusiness: 12
          relatedManufacturerProductGroup:
            - Smart Lighting
            - LED Bulbs
    ProductIdentificationSummary:
      type: object
      description: |
        Simplified product identification information for bulk retrieval.
        Contains only key identification fields without complex nested structures.
      additionalProperties: false
      required:
        - manufacturerIdGln
        - manufacturerName
        - manufacturerProductNumber
      properties:
        manufacturerIdGln:
          type: string
          pattern: ^[0-9]{13}$
        manufacturerIdDuns:
          type:
            - string
            - 'null'
          pattern: ^[0-9]{9}$
        manufacturerName:
          type: string
          minLength: 1
          maxLength: 80
        manufacturerShortname:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 15
        manufacturerProductNumber:
          type: string
          minLength: 1
          maxLength: 35
        productGtins:
          type:
            - array
            - 'null'
          uniqueItems: true
          items:
            type: string
            pattern: ^[0-9]{8,14}$
        unbrandedProduct:
          type:
            - boolean
            - 'null'
        brandName:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 50
        productAnnouncementDate:
          type:
            - string
            - 'null'
          format: date
        productValidityDate:
          type:
            - string
            - 'null'
          format: date
        productObsolescenceDate:
          type:
            - string
            - 'null'
          format: date
        customsCommodityCode:
          type:
            - string
            - 'null'
          minLength: 6
          maxLength: 16
        factorCustomsCommodityCode:
          type:
            - number
            - 'null'
          format: decimal
          minimum: 0
          multipleOf: 0.0001
          maximum: 99999999999.9999
        countryOfOrigin:
          type:
            - array
            - 'null'
          uniqueItems: true
          items:
            type: string
            pattern: ^[A-Z]{2}$
      examples:
        - manufacturerIdGln: '1234567890123'
          manufacturerName: Philips Lighting B.V.
          manufacturerShortname: Philips
          manufacturerProductNumber: '929002376910'
          productGtins:
            - '8718699673826'
          brandName: Hue
          productValidityDate: '2024-03-01'
          countryOfOrigin:
            - NL
    ProductDetailsSummary:
      type: object
      description: |
        Product details information for bulk retrieval.
        Contains status, type, warranties, and product groups.

        For product descriptions (text content), use the dedicated `/bulk/product-descriptions` endpoint
        which supports language filtering.
      additionalProperties: false
      required:
        - manufacturerIdGln
        - manufacturerProductNumber
      properties:
        manufacturerIdGln:
          type: string
          pattern: ^[0-9]{13}$
          description: |
            Global Location Number (GLN) identifying the manufacturer.
            13-digit GS1 identifier.
          examples:
            - '1234567890123'
        manufacturerProductNumber:
          type: string
          minLength: 1
          maxLength: 35
          description: |
            Manufacturer's unique product identifier.

            **ETIM xChange**: `ManufacturerProductNumber`  
            **Path**: `Supplier[].Product[].ProductIdentification.ManufacturerProductNumber`
          examples:
            - '929002376910'
            - ABC-12345-XYZ
        productStatus:
          $ref: '#/components/schemas/ProductStatus'
        productType:
          $ref: '#/components/schemas/ProductType'
        customisableProduct:
          type:
            - boolean
            - 'null'
          description: |
            Indicates whether the product can be customised.

            **ETIM xChange**: `CustomisableProduct`  
            **Path**: `Supplier[].Product[].ProductDetails.CustomisableProduct`
        hasSerialNumber:
          type:
            - boolean
            - 'null'
          description: |
            Indicates whether the product has a serial number.

            **ETIM xChange**: `HasSerialNumber`  
            **Path**: `Supplier[].Product[].ProductDetails.HasSerialNumber`
        warrantyConsumer:
          type:
            - integer
            - 'null'
          minimum: 0
          exclusiveMaximum: 1000
          description: |
            Consumer warranty period in months.

            **ETIM xChange**: `WarrantyConsumer`  
            **Path**: `Supplier[].Product[].ProductDetails.WarrantyConsumer`
        warrantyBusiness:
          type:
            - integer
            - 'null'
          minimum: 0
          exclusiveMaximum: 1000
          description: |
            Business/B2B warranty period in months.

            **ETIM xChange**: `WarrantyBusiness`  
            **Path**: `Supplier[].Product[].ProductDetails.WarrantyBusiness`
        relatedManufacturerProductGroup:
          type:
            - array
            - 'null'
          uniqueItems: true
          items:
            type: string
            minLength: 1
            maxLength: 50
          description: |
            Related manufacturer product groups for categorization.

            **ETIM xChange**: `RelatedManufacturerProductGroup`  
            **Path**: `Supplier[].Product[].ProductDetails.RelatedManufacturerProductGroup[]`
      examples:
        - manufacturerIdGln: '1234567890123'
          manufacturerProductNumber: '929002376910'
          productStatus: ACTIVE
          productType: PHYSICAL
          customisableProduct: false
          hasSerialNumber: true
          warrantyConsumer: 24
          warrantyBusiness: 12
          relatedManufacturerProductGroup:
            - Smart Lighting
            - LED Bulbs
    ProductDescriptionsSummary:
      type: object
      description: |
        Flattened product description for bulk retrieval.
        Each row represents a single language description with the product identifier.

        This flattened structure is optimized for:
        - Predictable payload sizes per row
        - Efficient cursor-based pagination
        - ETL/data warehouse ingestion
        - Streaming data processing
        - Language filtering at row level

        **Payload Optimization**: Optional properties with null values may be omitted from the response
        to minimize payload size. Clients should treat missing properties as null/not applicable.

        **ETIM xChange**: `ProductDetails.ProductDescriptions`  
        **Path**: `Supplier[].Product[].ProductDetails.ProductDescriptions[]`
      additionalProperties: false
      required:
        - manufacturerIdGln
        - manufacturerProductNumber
        - minimalProductDescription
      properties:
        manufacturerIdGln:
          type: string
          pattern: ^[0-9]{13}$
          description: |
            Global Location Number (GLN) identifying the manufacturer.
            13-digit GS1 identifier. Part of the composite product identifier.
          examples:
            - '1234567890123'
        manufacturerProductNumber:
          type: string
          minLength: 1
          maxLength: 35
          description: |
            Manufacturer's unique product identifier.
            Part of the composite product identifier.

            **ETIM xChange**: `ManufacturerProductNumber`  
            **Path**: `Supplier[].Product[].ProductIdentification.ManufacturerProductNumber`
          examples:
            - '929002376910'
            - ABC-12345-XYZ
        descriptionLanguage:
          type:
            - string
            - 'null'
          pattern: ^[a-z]{2}[-][A-Z]{2}$
          description: |
            Language code for the description in ISO 639-1 and ISO 3166-1 format (e.g., "en-GB", "de-DE").

            **ETIM xChange**: `DescriptionLanguage`  
            **Path**: `Supplier[].Product[].ProductDetails.ProductDescriptions[].DescriptionLanguage`
          examples:
            - en-GB
            - de-DE
            - nl-NL
        minimalProductDescription:
          type: string
          minLength: 1
          maxLength: 80
          description: |
            Short product description (maximum 80 characters). Minimal required description for product identification.

            **ETIM xChange**: `MinimalProductDescription`  
            **Path**: `Supplier[].Product[].ProductDetails.ProductDescriptions[].MinimalProductDescription`
          examples:
            - LED Smart Bulb E27 White
            - Industrial Motor 3-Phase
        uniqueMainProductDescription:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 255
          description: |
            Unique main product description (maximum 255 characters). 
            A concise but comprehensive description that uniquely identifies the product.

            **ETIM xChange**: `UniqueMainProductDescription`  
            **Path**: `Supplier[].Product[].ProductDetails.ProductDescriptions[].UniqueMainProductDescription`
          examples:
            - Philips Hue White and Color Ambiance E27 LED Smart Bulb, 806 lumens, Bluetooth compatible
        fullProductDescription:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 10000
          description: |
            Complete detailed product description (maximum 10,000 characters).
            Comprehensive technical and functional description of the product.

            **ETIM xChange**: `FullProductDescription`  
            **Path**: `Supplier[].Product[].ProductDetails.ProductDescriptions[].FullProductDescription`
          examples:
            - The Philips Hue White and Color Ambiance E27 LED Smart Bulb offers 16 million colors...
        productMarketingText:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 10000
          description: |
            Marketing-focused product text (maximum 10,000 characters).
            Promotional content highlighting product benefits and features for customers.

            **ETIM xChange**: `ProductMarketingText`  
            **Path**: `Supplier[].Product[].ProductDetails.ProductDescriptions[].ProductMarketingText`
          examples:
            - Transform your home with smart lighting that adapts to your lifestyle...
        productSpecificationText:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 10000
          description: |
            Technical specification text (maximum 10,000 characters).
            Detailed technical specifications and characteristics of the product.

            **ETIM xChange**: `ProductSpecificationText`  
            **Path**: `Supplier[].Product[].ProductDetails.ProductDescriptions[].ProductSpecificationText`
          examples:
            - 'Technical Specifications: Voltage: 220-240V, Power: 9W, Luminous flux: 806 lm...'
        productApplicationInstructions:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 10000
          description: |
            Product application and usage instructions (maximum 10,000 characters).
            Guidelines on how to use and apply the product correctly.

            **ETIM xChange**: `ProductApplicationInstructions`  
            **Path**: `Supplier[].Product[].ProductDetails.ProductDescriptions[].ProductApplicationInstructions`
          examples:
            - 'Installation: Screw the bulb into an E27 socket. Connect to the Philips Hue Bridge...'
        productKeyword:
          type:
            - array
            - 'null'
          uniqueItems: true
          items:
            type: string
            minLength: 1
            maxLength: 50
          description: |
            Keywords for product search and categorization (maximum 50 characters each).
            Array of search terms and keywords associated with the product.

            **ETIM xChange**: `ProductKeyword`  
            **Path**: `Supplier[].Product[].ProductDetails.ProductDescriptions[].ProductKeyword[]`
          examples:
            - - smart lighting
              - LED
              - color
              - Bluetooth
              - energy efficient
        productPageUrl:
          type:
            - string
            - 'null'
          format: uri
          description: |
            URL to the manufacturer's product page.
            Direct link to detailed product information on the manufacturer's website.

            **ETIM xChange**: `ProductPageUrl`  
            **Path**: `Supplier[].Product[].ProductDetails.ProductDescriptions[].ProductPageUrl`
          examples:
            - https://www.philips.com/products/hue-white-color-e27
      examples:
        - manufacturerIdGln: '1234567890123'
          manufacturerProductNumber: '929002376910'
          descriptionLanguage: en-GB
          minimalProductDescription: LED Smart Bulb E27
          uniqueMainProductDescription: Philips Hue White and Color Ambiance E27 LED Smart Bulb
          fullProductDescription: The Philips Hue White and Color Ambiance E27 LED Smart Bulb offers 16 million colors and 50,000 shades of white light.
          productKeyword:
            - smart lighting
            - LED
            - color
            - Bluetooth
          productPageUrl: https://www.philips.com/products/hue-white-color-e27
        - manufacturerIdGln: '1234567890123'
          manufacturerProductNumber: '929002376910'
          descriptionLanguage: de-DE
          minimalProductDescription: LED Smart Lampe E27
          uniqueMainProductDescription: Philips Hue White and Color Ambiance E27 LED Smart Lampe
          fullProductDescription: Die Philips Hue White and Color Ambiance E27 LED Smart Lampe bietet 16 Millionen Farben und 50.000 Weißtöne.
          productKeyword:
            - intelligente Beleuchtung
            - LED
            - Farbe
            - Bluetooth
          productPageUrl: https://www.philips.de/products/hue-white-color-e27
        - manufacturerIdGln: '9876543210987'
          manufacturerProductNumber: LED-12345-A
          descriptionLanguage: en-GB
          minimalProductDescription: LED Downlight 10W 4000K
    ProductDescription:
      type: object
      additionalProperties: false
      required:
        - minimalProductDescription
      properties:
        descriptionLanguage:
          type:
            - string
            - 'null'
          pattern: ^[a-z]{2}[-][A-Z]{2}$
          description: |
            Language code for the description in ISO 639-1 and ISO 3166-1 format (e.g., "en-GB", "de-DE").

            **ETIM xChange**: `DescriptionLanguage`  
            **Path**: `Supplier[].Product[].ProductDetails.ProductDescriptions[].DescriptionLanguage`
          examples:
            - en-GB
            - de-DE
            - nl-NL
            - null
        minimalProductDescription:
          type: string
          minLength: 1
          maxLength: 80
          description: |
            Short product description (maximum 80 characters). Minimal required description for product identification.

            **ETIM xChange**: `MinimalProductDescription`  
            **Path**: `Supplier[].Product[].ProductDetails.ProductDescriptions[].MinimalProductDescription`
          examples:
            - LED Smart Bulb E27 White
            - Industrial Motor 3-Phase
        uniqueMainProductDescription:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 255
          description: |
            Unique main product description (maximum 255 characters). 
            A concise but comprehensive description that uniquely identifies the product.

            **ETIM xChange**: `UniqueMainProductDescription`  
            **Path**: `Supplier[].Product[].ProductDetails.ProductDescriptions[].UniqueMainProductDescription`
          examples:
            - Philips Hue White and Color Ambiance E27 LED Smart Bulb, 806 lumens, Bluetooth compatible
            - null
        fullProductDescription:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 10000
          description: |
            Complete detailed product description (maximum 10,000 characters).
            Comprehensive technical and functional description of the product.

            **ETIM xChange**: `FullProductDescription`  
            **Path**: `Supplier[].Product[].ProductDetails.ProductDescriptions[].FullProductDescription`
          examples:
            - The Philips Hue White and Color Ambiance E27 LED Smart Bulb offers 16 million colors and 50,000 shades of white light...
            - null
        productMarketingText:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 10000
          description: |
            Marketing-focused product text (maximum 10,000 characters).
            Promotional content highlighting product benefits and features for customers.

            **ETIM xChange**: `ProductMarketingText`  
            **Path**: `Supplier[].Product[].ProductDetails.ProductDescriptions[].ProductMarketingText`
          examples:
            - Transform your home with smart lighting that adapts to your lifestyle...
            - null
        productSpecificationText:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 10000
          description: |
            Technical specification text (maximum 10,000 characters).
            Detailed technical specifications and characteristics of the product.

            **ETIM xChange**: `ProductSpecificationText`  
            **Path**: `Supplier[].Product[].ProductDetails.ProductDescriptions[].ProductSpecificationText`
          examples:
            - 'Technical Specifications: Voltage: 220-240V, Power: 9W, Luminous flux: 806 lm...'
            - null
        productApplicationInstructions:
          type:
            - string
            - 'null'
          minLength: 1
          maxLength: 10000
          description: |
            Product application and usage instructions (maximum 10,000 characters).
            Guidelines on how to use and apply the product correctly.

            **ETIM xChange**: `ProductApplicationInstructions`  
            **Path**: `Supplier[].Product[].ProductDetails.ProductDescriptions[].ProductApplicationInstructions`
          examples:
            - 'Installation: Screw the bulb into an E27 socket. Connect to the Philips Hue Bridge...'
            - null
        productKeyword:
          type:
            - array
            - 'null'
          uniqueItems: true
          items:
            type: string
            minLength: 1
            maxLength: 50
          description: |
            Keywords for product search and categorization (maximum 50 characters each).
            Array of search terms and keywords associated with the product.

            **ETIM xChange**: `ProductKeyword`  
            **Path**: `Supplier[].Product[].ProductDetails.ProductDescriptions[].ProductKeyword[]`
          examples:
            - - smart lighting
              - LED
              - color
              - Bluetooth
              - energy efficient
            - null
        productPageUrl:
          type:
            - string
            - 'null'
          format: uri
          description: |
            URL to the manufacturer's product page.
            Direct link to detailed product information on the manufacturer's website.

            **ETIM xChange**: `ProductPageUrl`  
            **Path**: `Supplier[].Product[].ProductDetails.ProductDescriptions[].ProductPageUrl`
          examples:
            - https://www.philips.com/products/hue-white-color-e27
            - null
      examples:
        - descriptionLanguage: en-GB
          minimalProductDescription: LED Smart Bulb E27 White & Color
          uniqueMainProductDescription: Philips Hue White and Color Ambiance E27 LED Smart Bulb, 806 lumens, Bluetooth
          fullProductDescription: The Philips Hue White and Color Ambiance E27 LED Smart Bulb offers 16 million colors and 50,000 shades of white light. Control it with your smartphone or voice using Alexa, Google Assistant, or Apple HomeKit.
          productKeyword:
            - smart lighting
            - LED
            - color
            - Bluetooth
          productPageUrl: https://www.philips.com/products/hue-white-color-e27
    EtimClassification:
      type: object
      additionalProperties: false
      required:
        - etimClassCode
        - etimReleaseVersion
      properties:
        etimClassCode:
          type: string
          pattern: ^EC[0-9]{6}$
          description: |
            ETIM class code identifying the product category. Format: EC followed by 6 digits.

            **ETIM xChange**: `EtimClassCode`  
            **Path**: `Supplier[].Product[].EtimClassification[].EtimClassCode`
          examples:
            - EC000123
            - EC002745
        etimClassVersion:
          type:
            - integer
            - 'null'
          minimum: 1
          description: |
            Version number of the ETIM class. Incremented when class definition changes.
            Optional field matching ETIM xChange specification.

            **ETIM xChange**: `EtimClassVersion`  
            **Path**: `Supplier[].Product[].EtimClassification[].EtimClassVersion`
          examples:
            - 1
            - 2
            - null
        etimReleaseVersion:
          type: string
          pattern: ^[0-9]{1,2}[.]{1}[0-9]{1}|DYNAMIC$
          description: |
            ETIM release version where this classification is valid.
            Release number (e.g., "9.0", "10.0", "11.0") or "DYNAMIC" for dynamic ETIM classes.

            **ETIM xChange**: `EtimReleaseVersion`  
            **Path**: `Supplier[].Product[].EtimClassification[].EtimReleaseVersion`
          examples:
            - '9.0'
            - '10.0'
            - '11.0'
            - DYNAMIC
        etimDynamicReleaseDate:
          type:
            - string
            - 'null'
          format: date
          description: |
            Release date for dynamic ETIM classes. ISO 8601 date format (YYYY-MM-DD).
            Only applicable when `etimReleaseVersion` is "DYNAMIC".

            **ETIM xChange**: `EtimDynamicReleaseDate`  
            **Path**: `Supplier[].Product[].EtimClassification[].EtimDynamicReleaseDate`
          examples:
            - '2024-06-15'
            - null
        etimFeatures:
          type:
            - array
            - 'null'
          items:
            $ref: '#/components/schemas/EtimFeature'
          description: |
            Array of ETIM feature values that characterize the product according to the ETIM class.
            Features define standardized technical specifications and characteristics.

            **ETIM xChange**: `EtimFeatures`  
            **Path**: `Supplier[].Product[].EtimClassification[].EtimFeatures[]`
          examples:
            - - etimFeatureCode: EF000123
                etimValueCode: EV000789
              - etimFeatureCode: EF000456
                etimValueNumeric: 230
            - null
        etimModellingClassCode:
          type:
            - string
            - 'null'
          pattern: ^MC[0-9]{6}$
          description: |
            ETIM modelling class code for advanced product modeling. Format: MC followed by 6 digits.

            **ETIM xChange**: `EtimModellingClassCode`  
            **Path**: `Supplier[].Product[].EtimClassification[].EtimModellingClassCode`
          examples:
            - MC000123
            - null
        etimModellingClassVersion:
          type:
            - integer
            - 'null'
          minimum: 1
          description: |
            Version number of the ETIM modelling class.

            **ETIM xChange**: `EtimModellingClassVersion`  
            **Path**: `Supplier[].Product[].EtimClassification[].EtimModellingClassVersion`
          examples:
            - 1
            - null
      examples:
        - etimClassCode: EC002745
          etimClassVersion: 1
          etimReleaseVersion: '9.0'
          etimFeatures:
            - etimFeatureCode: EF000123
              etimValueCode: EV000789
            - etimFeatureCode: EF000456
              etimValueNumeric: 230
            - etimFeatureCode: EF000789
              etimValueLogical: true
        - etimClassCode: EC000123
          etimClassVersion: 2
          etimReleaseVersion: '11.0'
        - etimClassCode: EC001234
          etimClassVersion: null
          etimReleaseVersion: '10.0'
    EtimFeature:
      type: object
      additionalProperties: false
      required:
        - etimFeatureCode
      properties:
        etimFeatureCode:
          type: string
          pattern: ^EF([0-9]{6}|I[0-9]{5}|[A-Z]{2}[0-9]{4})$
          description: |
            ETIM standardized feature code identifying a specific product characteristic.
            Format: EF followed by 6 digits, or EFI followed by 5 digits, or EF followed by 2 letters and 4 digits.

            **ETIM xChange**: `EtimFeatureCode`  
            **Path**: `Supplier[].Product[].EtimClassification[].EtimFeatures[].EtimFeatureCode`
          examples:
            - EF000123
            - EFI00456
        etimValueCode:
          type:
            - string
            - 'null'
          pattern: ^EV[0-9]{6}$
          description: |
            ETIM standardized value code for alphanumeric features (e.g., enumerations, selections).
            Format: EV followed by 6 digits.

            **ETIM xChange**: `EtimValueCode`  
            **Path**: `Supplier[].Product[].EtimClassification[].EtimFeatures[].EtimValueCode`
          examples:
            - EV000789
            - null
        etimValueNumeric:
          type:
            - number
            - 'null'
          format: decimal
          multipleOf: 0.0001
          minimum: -999999999999.9999
          maximum: 999999999999.9999
          description: |
            Numeric value for the ETIM feature (supports up to 4 decimal places).
            Converted from ETIM xChange string pattern to number type.

            **ETIM xChange**: `EtimValueNumeric` (string with pattern)  
            **Path**: `Supplier[].Product[].EtimClassification[].EtimFeatures[].EtimValueNumeric`
          examples:
            - 230
            - 50.5
            - -10.25
            - null
        etimValueRangeLower:
          type:
            - number
            - 'null'
          format: decimal
          multipleOf: 0.0001
          minimum: -999999999999.9999
          maximum: 999999999999.9999
          description: |
            Lower bound of a numeric range for the feature value.
            Converted from ETIM xChange string pattern to number type.

            **ETIM xChange**: `EtimValueRangeLower` (string with pattern)  
            **Path**: `Supplier[].Product[].EtimClassification[].EtimFeatures[].EtimValueRangeLower`
          examples:
            - 100
            - 0.5
            - null
        etimValueRangeUpper:
          type:
            - number
            - 'null'
          format: decimal
          multipleOf: 0.0001
          minimum: -999999999999.9999
          maximum: 999999999999.9999
          description: |
            Upper bound of a numeric range for the feature value.
            Converted from ETIM xChange string pattern to number type.

            **ETIM xChange**: `EtimValueRangeUpper` (string with pattern)  
            **Path**: `Supplier[].Product[].EtimClassification[].EtimFeatures[].EtimValueRangeUpper`
          examples:
            - 240
            - 60
            - null
        etimValueLogical:
          type:
            - boolean
            - 'null'
          description: |
            Boolean/logical value for yes/no type features.

            **ETIM xChange**: `EtimValueLogical`  
            **Path**: `Supplier[].Product[].EtimClassification[].EtimFeatures[].EtimValueLogical`
          examples:
            - true
            - false
            - null
        etimValueDetails:
          type:
            - array
            - 'null'
          items:
            type: object
            additionalProperties: false
            required:
              - etimValueDetails
            properties:
              language:
                type:
                  - string
                  - 'null'
                pattern: ^[a-z]{2}[-][A-Z]{2}$
                description: Language code for the value details
                examples:
                  - en-GB
              etimValueDetails:
                type: string
                minLength: 1
                maxLength: 255
                description: Free-text details about the feature value
                examples:
                  - Special coating applied
          description: |
            Multilingual free-text descriptions providing additional details about the feature value.

            **ETIM xChange**: `EtimValueDetails`  
            **Path**: `Supplier[].Product[].EtimClassification[].EtimFeatures[].EtimValueDetails[]`
          examples:
            - - language: en-GB
                etimValueDetails: Certified for outdoor use
            - null
        reasonNoValue:
          type:
            - string
            - 'null'
          enum:
            - MV
            - NA
            - UN
            - null
          description: |
            Reason code when no feature value is provided.

            - `MV`: Multiple values - feature has multiple applicable values
            - `NA`: Not applicable - feature does not apply to this product
            - `UN`: Unknown - value is currently unknown or unavailable

            **ETIM xChange**: `ReasonNoValue`  
            **Path**: `Supplier[].Product[].EtimClassification[].EtimFeatures[].ReasonNoValue`
          examples:
            - NA
            - null
      examples:
        - etimFeatureCode: EF000123
          etimValueCode: EV000789
        - etimFeatureCode: EF000456
          etimValueNumeric: 230
        - etimFeatureCode: EF000789
          etimValueRangeLower: 100
          etimValueRangeUpper: 240
        - etimFeatureCode: EF001234
          etimValueLogical: true
        - etimFeatureCode: EF005678
          reasonNoValue: NA
    ProductEtimClassificationFeature:
      type: object
      description: |
        Flattened product ETIM classification feature for bulk retrieval.
        Each row represents a single feature value within a product's ETIM classification.

        This flattened structure is optimized for:
        - Predictable payload sizes per row
        - Efficient cursor-based pagination
        - ETL/data warehouse ingestion
        - Streaming data processing

        **Payload Optimization**: Optional properties with null values are omitted from the response
        to minimize payload size. Clients should treat missing properties as null/not applicable.

        **Classification-only rows**: Products with classification but no features are represented
        with `etimFeatureCode` omitted (or null if explicitly set).
      additionalProperties: false
      required:
        - manufacturerIdGln
        - manufacturerProductNumber
        - etimClassCode
        - etimReleaseVersion
      properties:
        manufacturerIdGln:
          type: string
          pattern: ^[0-9]{13}$
          description: |
            GLN (Global Location Number) of the product manufacturer.
            Part of the composite product identifier.
          examples:
            - '1234567890123'
        manufacturerProductNumber:
          type: string
          minLength: 1
          maxLength: 35
          description: |
            Manufacturer's product number/code.
            Part of the composite product identifier.
          examples:
            - '929002376910'
            - LED-12345-A
        etimClassCode:
          type: string
          pattern: ^EC[0-9]{6}$
          description: |
            ETIM class code identifying the product category. Format: EC followed by 6 digits.

            **ETIM xChange**: `EtimClassCode`
            **Path**: `Supplier[].Product[].EtimClassification[].EtimClassCode`
          examples:
            - EC000123
            - EC002745
        etimClassVersion:
          type:
            - integer
            - 'null'
          minimum: 1
          description: |
            Version number of the ETIM class. Incremented when class definition changes.
            Optional field matching ETIM xChange specification. Omitted when not applicable.

            **ETIM xChange**: `EtimClassVersion`
            **Path**: `Supplier[].Product[].EtimClassification[].EtimClassVersion`
          examples:
            - 1
            - 2
        etimReleaseVersion:
          type: string
          pattern: ^[0-9]{1,2}[.]{1}[0-9]{1}|DYNAMIC$
          description: |
            ETIM release version where this classification is valid.
            Release number (e.g., "9.0", "10.0", "11.0") or "DYNAMIC".

            **ETIM xChange**: `EtimReleaseVersion`
            **Path**: `Supplier[].Product[].EtimClassification[].EtimReleaseVersion`
          examples:
            - '9.0'
            - '10.0'
            - '11.0'
            - DYNAMIC
        etimDynamicReleaseDate:
          type:
            - string
            - 'null'
          format: date
          description: |
            Release date for dynamic ETIM classes. ISO 8601 date format (YYYY-MM-DD).
            Only present when `etimReleaseVersion` is "DYNAMIC". Omitted when not applicable.

            **ETIM xChange**: `EtimDynamicReleaseDate`
            **Path**: `Supplier[].Product[].EtimClassification[].EtimDynamicReleaseDate`
          examples:
            - '2024-06-15'
        etimModellingClassCode:
          type:
            - string
            - 'null'
          pattern: ^MC[0-9]{6}$
          description: |
            ETIM modelling class code for advanced product modeling. Format: MC followed by 6 digits.
            Omitted when not applicable.

            **ETIM xChange**: `EtimModellingClassCode`
            **Path**: `Supplier[].Product[].EtimClassification[].EtimModellingClassCode`
          examples:
            - MC000123
        etimModellingClassVersion:
          type:
            - integer
            - 'null'
          minimum: 1
          description: |
            Version number of the ETIM modelling class.
            Omitted when not applicable.

            **ETIM xChange**: `EtimModellingClassVersion`
            **Path**: `Supplier[].Product[].EtimClassification[].EtimModellingClassVersion`
          examples:
            - 1
        etimFeatureCode:
          type:
            - string
            - 'null'
          pattern: ^EF([0-9]{6}|I[0-9]{5}|[A-Z]{2}[0-9]{4})$
          description: |
            ETIM standardized feature code identifying a specific product characteristic.
            Format: EF followed by 6 digits, or EFI followed by 5 digits, or EF followed by 2 letters and 4 digits.

            Omitted for classification-only rows (product has class but no features).

            **ETIM xChange**: `EtimFeatureCode`
            **Path**: `Supplier[].Product[].EtimClassification[].EtimFeatures[].EtimFeatureCode`
          examples:
            - EF000123
            - EFI00456
        etimValueCode:
          type:
            - string
            - 'null'
          pattern: ^EV[0-9]{6}$
          description: |
            ETIM standardized value code for alphanumeric features (e.g., enumerations, selections).
            Format: EV followed by 6 digits.
            Only present for alphanumeric feature types. Omitted when not applicable.

            **ETIM xChange**: `EtimValueCode`
            **Path**: `Supplier[].Product[].EtimClassification[].EtimFeatures[].EtimValueCode`
          examples:
            - EV000789
        etimValueNumeric:
          type:
            - number
            - 'null'
          format: decimal
          multipleOf: 0.0001
          minimum: -999999999999.9999
          maximum: 999999999999.9999
          description: |
            Numeric value for the ETIM feature (supports up to 4 decimal places).
            Only present for numeric feature types. Omitted when not applicable.

            **ETIM xChange**: `EtimValueNumeric`
            **Path**: `Supplier[].Product[].EtimClassification[].EtimFeatures[].EtimValueNumeric`
          examples:
            - 230
            - 50.5
        etimValueRangeLower:
          type:
            - number
            - 'null'
          format: decimal
          multipleOf: 0.0001
          minimum: -999999999999.9999
          maximum: 999999999999.9999
          description: |
            Lower bound of a numeric range for the feature value.
            Only present for range feature types. Omitted when not applicable.

            **ETIM xChange**: `EtimValueRangeLower`
            **Path**: `Supplier[].Product[].EtimClassification[].EtimFeatures[].EtimValueRangeLower`
          examples:
            - 100
            - 0.5
        etimValueRangeUpper:
          type:
            - number
            - 'null'
          format: decimal
          multipleOf: 0.0001
          minimum: -999999999999.9999
          maximum: 999999999999.9999
          description: |
            Upper bound of a numeric range for the feature value.
            Only present for range feature types. Omitted when not applicable.

            **ETIM xChange**: `EtimValueRangeUpper`
            **Path**: `Supplier[].Product[].EtimClassification[].EtimFeatures[].EtimValueRangeUpper`
          examples:
            - 240
            - 60
        etimValueLogical:
          type:
            - boolean
            - 'null'
          description: |
            Boolean/logical value for yes/no type features.
            Only present for logical feature types. Omitted when not applicable.

            **ETIM xChange**: `EtimValueLogical`
            **Path**: `Supplier[].Product[].EtimClassification[].EtimFeatures[].EtimValueLogical`
          examples:
            - true
            - false
        etimValueDetails:
          type:
            - array
            - 'null'
          items:
            type: object
            additionalProperties: false
            required:
              - etimValueDetails
            properties:
              language:
                type:
                  - string
                  - 'null'
                pattern: ^[a-z]{2}[-][A-Z]{2}$
                description: Language code for the value details
                examples:
                  - en-GB
                  - nl-NL
              etimValueDetails:
                type: string
                minLength: 1
                maxLength: 255
                description: Free-text details about the feature value
                examples:
                  - Special coating applied
          description: |
            Multilingual free-text descriptions providing additional details about the feature value.
            Omitted when not applicable.

            **ETIM xChange**: `EtimValueDetails`
            **Path**: `Supplier[].Product[].EtimClassification[].EtimFeatures[].EtimValueDetails[]`
          examples:
            - - language: en-GB
                etimValueDetails: Certified for outdoor use
        reasonNoValue:
          type:
            - string
            - 'null'
          enum:
            - MV
            - NA
            - UN
            - null
          description: |
            Reason code when no feature value is provided.
            Omitted when a value is present.

            - `MV`: Multiple values - feature has multiple applicable values
            - `NA`: Not applicable - feature does not apply to this product
            - `UN`: Unknown - value is currently unknown or unavailable

            **ETIM xChange**: `ReasonNoValue`
            **Path**: `Supplier[].Product[].EtimClassification[].EtimFeatures[].ReasonNoValue`
          examples:
            - NA
            - MV
      examples:
        - manufacturerIdGln: '1234567890123'
          manufacturerProductNumber: '929002376910'
          etimClassCode: EC002745
          etimClassVersion: 1
          etimReleaseVersion: '9.0'
          etimFeatureCode: EF000123
          etimValueCode: EV000789
        - manufacturerIdGln: '1234567890123'
          manufacturerProductNumber: '929002376910'
          etimClassCode: EC002745
          etimClassVersion: 1
          etimReleaseVersion: '9.0'
          etimFeatureCode: EF000456
          etimValueNumeric: 230
        - manufacturerIdGln: '1234567890123'
          manufacturerProductNumber: '929002376910'
          etimClassCode: EC002745
          etimClassVersion: 1
          etimReleaseVersion: '10.0'
          etimFeatureCode: EF000789
          etimValueRangeLower: 100
          etimValueRangeUpper: 240
        - manufacturerIdGln: '1234567890123'
          manufacturerProductNumber: '929002376910'
          etimClassCode: EC002745
          etimClassVersion: 1
          etimReleaseVersion: '10.0'
          etimFeatureCode: EF001234
          etimValueLogical: true
        - manufacturerIdGln: '9876543210987'
          manufacturerProductNumber: LED-12345-A
          etimClassCode: EC001234
          etimClassVersion: 2
          etimReleaseVersion: '11.0'
        - manufacturerIdGln: '1234567890123'
          manufacturerProductNumber: '929002376910'
          etimClassCode: EC002745
          etimClassVersion: 1
          etimReleaseVersion: '9.0'
          etimFeatureCode: EF005678
          reasonNoValue: NA
    ProductStatus:
      type:
        - string
        - 'null'
      enum:
        - PRE-LAUNCH
        - ACTIVE
        - ON HOLD
        - PLANNED WITHDRAWAL
        - OBSOLETE
        - null
      description: |
        Current product lifecycle status.

        - `PRE-LAUNCH`: Product announced but not yet available for sale
        - `ACTIVE`: Product is currently available for sale
        - `ON HOLD`: Product temporarily unavailable
        - `PLANNED WITHDRAWAL`: Product scheduled for discontinuation
        - `OBSOLETE`: Product no longer available

        **ETIM xChange**: `ProductStatus`  
        **Path**: `Supplier[].Product[].ProductDetails.ProductStatus`
      examples:
        - ACTIVE
        - PRE-LAUNCH
        - OBSOLETE
        - null
    ProductType:
      type:
        - string
        - 'null'
      enum:
        - PHYSICAL
        - CONTRACT
        - LICENCE
        - SERVICE
        - null
      description: |
        Type classification of the product.

        - `PHYSICAL`: Physical product (tangible item)
        - `CONTRACT`: Service contract or agreement
        - `LICENCE`: Software or usage license
        - `SERVICE`: Service offering

        **ETIM xChange**: `ProductType`  
        **Path**: `Supplier[].Product[].ProductDetails.ProductType`
      examples:
        - PHYSICAL
        - SERVICE
        - LICENCE
        - null
    WeeeCategory:
      type:
        - string
        - 'null'
      enum:
        - '1'
        - '2'
        - '3'
        - '4'
        - '5'
        - '6'
        - null
      description: |
        WEEE (Waste Electrical and Electronic Equipment) category for electronic products according to EU directive.

        Categories:
        - `1`: Large household appliances
        - `2`: Small household appliances
        - `3`: IT and telecommunications equipment
        - `4`: Consumer equipment (audio/video)
        - `5`: Lighting equipment
        - `6`: Electrical and electronic tools

        **ETIM xChange**: `WeeeCategory`  
        **Path**: `Supplier[].Product[].Legislation.WeeeCategory`
      examples:
        - '3'
        - '5'
        - null
    ProductResponse:
      type: object
      description: |
        Response containing a single product with all its components.

        The product key (`manufacturerIdGln` + `manufacturerProductNumber`) is at the root level,
        with nested objects for each component:
        - `identification`: Manufacturer details, GTINs, brand, dates, customs data
        - `details`: Status, type, warranties, product groups
        - `descriptions`: Array of multilingual descriptions (nested, not flattened)
        - `etimClassifications`: Array of ETIM classifications with embedded features (nested)

        This structure aligns with the subresource endpoints (`/identification`, `/details`, 
        `/descriptions`, `/etim-classifications`) which all include the key at the root level.
      additionalProperties: false
      required:
        - data
      properties:
        data:
          type: object
          additionalProperties: false
          required:
            - manufacturerIdGln
            - manufacturerProductNumber
            - identification
          properties:
            manufacturerIdGln:
              type: string
              pattern: ^[0-9]{13}$
              description: Global Location Number (GLN) uniquely identifying the manufacturer
              examples:
                - '1234567890123'
            manufacturerProductNumber:
              type: string
              minLength: 1
              maxLength: 35
              description: Manufacturer's unique product number/code
              examples:
                - '929002376910'
            identification:
              $ref: '#/components/schemas/ProductIdentification'
              description: |
                Product identification information including manufacturer details, GTINs, brand, 
                dates, and customs data.
            details:
              $ref: '#/components/schemas/ProductDetails'
              description: |
                Product details including status, type, warranties, and product groups.
            descriptions:
              type:
                - array
                - 'null'
              description: |
                Array of multilingual product descriptions. Each item contains descriptions
                in a specific language. Returns null if no descriptions are available.
              items:
                $ref: '#/components/schemas/ProductDescription'
            etimClassifications:
              type:
                - array
                - 'null'
              description: |
                Array of ETIM classifications for this product with embedded features.
                Returns null if the product has no ETIM classifications.
                Multiple classifications can exist across different ETIM releases.
              items:
                $ref: '#/components/schemas/EtimClassification'
      examples:
        - data:
            manufacturerIdGln: '1234567890123'
            manufacturerProductNumber: '929002376910'
            identification:
              manufacturerName: Philips Lighting B.V.
              manufacturerShortname: Philips
              productGtins:
                - '8718699673826'
              brandName: Hue
              productAnnouncementDate: '2024-01-15'
              productValidityDate: '2024-03-01'
              productObsolescenceDate: null
              customsCommodityCode: '8539502090'
              countryOfOrigin:
                - NL
            details:
              productStatus: ACTIVE
              productType: PHYSICAL
              customisableProduct: false
              hasSerialNumber: true
              warrantyConsumer: 24
              warrantyBusiness: 36
            descriptions:
              - descriptionLanguage: en-GB
                minimalProductDescription: LED Smart Bulb E27
                uniqueMainProductDescription: Philips Hue White and Color Ambiance E27 LED Smart Bulb with Bluetooth
                productKeyword:
                  - smart lighting
                  - LED
                  - color
            etimClassifications:
              - etimClassCode: EC002745
                etimClassVersion: 1
                etimReleaseVersion: '9.0'
                etimFeatures:
                  - etimFeatureCode: EF012345
                    etimValueNumeric: 10
    ProductIdentificationResponse:
      type: object
      description: |
        Response containing product identification information for a single product.
        The product key is at the root level, with identification details nested inside.

        This structure aligns with other single-product subresource responses
        (`/details`, `/descriptions`, `/etim-classifications`).
      additionalProperties: false
      required:
        - data
      properties:
        data:
          type: object
          additionalProperties: false
          required:
            - manufacturerIdGln
            - manufacturerProductNumber
            - identification
          properties:
            manufacturerIdGln:
              type: string
              pattern: ^[0-9]{13}$
              description: Global Location Number (GLN) uniquely identifying the manufacturer
              examples:
                - '1234567890123'
            manufacturerProductNumber:
              type: string
              minLength: 1
              maxLength: 35
              description: Manufacturer's unique product number/code
              examples:
                - '929002376910'
            identification:
              $ref: '#/components/schemas/ProductIdentification'
              description: |
                Product identification information including manufacturer details, GTINs, brand,
                dates, and customs data.
      examples:
        - data:
            manufacturerIdGln: '1234567890123'
            manufacturerProductNumber: '929002376910'
            identification:
              manufacturerName: Philips Lighting B.V.
              manufacturerShortname: Philips
              productGtins:
                - '8718699673826'
              brandName: Hue
              productAnnouncementDate: '2024-01-15'
              productValidityDate: '2024-03-01'
              productObsolescenceDate: null
              customsCommodityCode: '8539502090'
              countryOfOrigin:
                - NL
    ProductDetailsResponse:
      type: object
      description: |
        Response containing product details for a single product.
        The product key is at the root level, with details nested inside.

        This structure aligns with other single-product subresource responses
        (`/identification`, `/descriptions`, `/etim-classifications`).

        Note: Product descriptions are available through the dedicated `/descriptions` subresource
        which supports language filtering.
      additionalProperties: false
      required:
        - data
      properties:
        data:
          type: object
          additionalProperties: false
          required:
            - manufacturerIdGln
            - manufacturerProductNumber
          properties:
            manufacturerIdGln:
              type: string
              pattern: ^[0-9]{13}$
              description: Global Location Number (GLN) uniquely identifying the manufacturer
              examples:
                - '1234567890123'
            manufacturerProductNumber:
              type: string
              minLength: 1
              maxLength: 35
              description: Manufacturer's unique product number/code
              examples:
                - '929002376910'
            details:
              $ref: '#/components/schemas/ProductDetails'
              description: |
                Product details including status, type, warranties, and product groups.
      examples:
        - data:
            manufacturerIdGln: '1234567890123'
            manufacturerProductNumber: '929002376910'
            details:
              productStatus: ACTIVE
              productType: PHYSICAL
              customisableProduct: false
              hasSerialNumber: true
              warrantyConsumer: 24
              warrantyBusiness: 36
              relatedManufacturerProductGroup:
                - Smart Lighting
                - LED Bulbs
    ProductDescriptionsResponse:
      type: object
      description: |
        Response containing multilingual product descriptions for a single product.
        Returns the product identification keys and a nested array of `ProductDescription` objects,
        each containing descriptions in a specific language.

        Unlike the bulk endpoint `/bulk/product-descriptions` which uses a flattened structure
        optimized for ETL, this single-product endpoint returns descriptions in their natural
        nested format for easier consumption.

        **Language Filtering**: Use the optional `language` query parameter to filter
        descriptions to specific language(s).
      additionalProperties: false
      required:
        - data
      properties:
        data:
          type: object
          additionalProperties: false
          required:
            - manufacturerIdGln
            - manufacturerProductNumber
          properties:
            manufacturerIdGln:
              type: string
              pattern: ^[0-9]{13}$
              description: Global Location Number (GLN) uniquely identifying the manufacturer
              examples:
                - '1234567890123'
            manufacturerProductNumber:
              type: string
              minLength: 1
              maxLength: 35
              description: Manufacturer's unique product number/code
              examples:
                - '929002376910'
            descriptions:
              type:
                - array
                - 'null'
              description: |
                Array of product descriptions. Each item contains descriptions in a specific language.
                Returns null if no descriptions are available, or an empty array if filtering
                by language yields no matches.
              items:
                $ref: '#/components/schemas/ProductDescription'
      examples:
        - data:
            manufacturerIdGln: '1234567890123'
            manufacturerProductNumber: '929002376910'
            descriptions:
              - descriptionLanguage: en-GB
                minimalProductDescription: LED Smart Bulb E27 White & Color
                uniqueMainProductDescription: Philips Hue White and Color Ambiance E27 LED Smart Bulb, 806 lumens, Bluetooth
                fullProductDescription: The Philips Hue White and Color Ambiance E27 LED Smart Bulb offers 16 million colors and 50,000 shades of white light. Control it with your smartphone or voice using Alexa, Google Assistant, or Apple HomeKit.
                productKeyword:
                  - smart lighting
                  - LED
                  - color
                  - Bluetooth
                productPageUrl: https://www.philips.com/products/hue-white-color-e27
              - descriptionLanguage: de-DE
                minimalProductDescription: LED Smart-Lampe E27 Weiß & Farbe
                uniqueMainProductDescription: Philips Hue White and Color Ambiance E27 LED Smart-Lampe, 806 Lumen, Bluetooth
        - data:
            manufacturerIdGln: '1234567890123'
            manufacturerProductNumber: '929002376910'
            descriptions: null
    ProductEtimClassificationsResponse:
      type: object
      description: |
        Response containing all ETIM classifications for a single product.
        Returns the product identification keys and all associated ETIM classifications.
      additionalProperties: false
      required:
        - data
      properties:
        data:
          type: object
          additionalProperties: false
          required:
            - manufacturerIdGln
            - manufacturerProductNumber
          properties:
            manufacturerIdGln:
              type: string
              pattern: ^[0-9]{13}$
              description: Global Location Number (GLN) uniquely identifying the manufacturer
              examples:
                - '1234567890123'
            manufacturerProductNumber:
              type: string
              minLength: 1
              maxLength: 35
              description: Manufacturer's unique product number/code
              examples:
                - '929002376910'
            etimClassifications:
              type:
                - array
                - 'null'
              description: |
                Array of ETIM classifications for this product.
                May be null if the product has no ETIM classifications.
                Multiple classifications can exist across different ETIM releases.
              items:
                $ref: '#/components/schemas/EtimClassification'
      examples:
        - data:
            manufacturerIdGln: '1234567890123'
            manufacturerProductNumber: '929002376910'
            etimClassifications:
              - etimClassCode: EC002745
                etimClassVersion: 1
                etimReleaseVersion: '9.0'
                etimFeatures:
                  - etimFeatureCode: EF000123
                    etimValueCode: EV000789
                  - etimFeatureCode: EF000456
                    etimValueNumeric: 230
              - etimClassCode: EC001234
                etimClassVersion: 2
                etimReleaseVersion: '11.0'
                etimFeatures:
                  - etimFeatureCode: EF000789
                    etimValueLogical: true
    BulkProductIdentificationsResponse:
      type: object
      additionalProperties: false
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ProductIdentificationSummary'
          description: Array of product identification summaries
        meta:
          $ref: '#/components/schemas/CursorPaginationMetadata'
          description: Cursor-based pagination metadata
      examples:
        - data:
            - manufacturerIdGln: '1234567890123'
              manufacturerName: Philips Lighting B.V.
              manufacturerShortname: Philips
              manufacturerProductNumber: '929002376910'
              productGtins:
                - '8718699673826'
              brandName: Hue
              productValidityDate: '2024-03-01'
              countryOfOrigin:
                - NL
          meta:
            cursor: eyJpZCI6MTIzfQ==
            hasNext: true
            hasPrev: false
            limit: 100
            estimatedTotal: 1523
    BulkProductDetailsResponse:
      type: object
      additionalProperties: false
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ProductDetailsSummary'
          description: Array of product details summaries
        meta:
          $ref: '#/components/schemas/CursorPaginationMetadata'
          description: Cursor-based pagination metadata
      examples:
        - data:
            - manufacturerIdGln: '1234567890123'
              manufacturerProductNumber: '929002376910'
              productStatus: ACTIVE
              productType: PHYSICAL
              customisableProduct: false
              hasSerialNumber: true
              warrantyConsumer: 24
              warrantyBusiness: 12
              relatedManufacturerProductGroup:
                - Smart Lighting
                - LED Bulbs
          meta:
            cursor: eyJpZCI6MTIzfQ==
            hasNext: true
            hasPrev: false
            limit: 100
            estimatedTotal: 1523
    BulkProductDescriptionsResponse:
      type: object
      additionalProperties: false
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ProductDescriptionsSummary'
          description: |
            Array of flattened product descriptions.
            Each row represents a single language description with the product identifier.
        meta:
          $ref: '#/components/schemas/CursorPaginationMetadata'
          description: Cursor-based pagination metadata
      examples:
        - data:
            - manufacturerIdGln: '1234567890123'
              manufacturerProductNumber: '929002376910'
              descriptionLanguage: en-GB
              minimalProductDescription: LED Smart Bulb E27
              uniqueMainProductDescription: Philips Hue White and Color Ambiance E27 LED Smart Bulb
              fullProductDescription: The Philips Hue White and Color Ambiance E27 LED Smart Bulb offers 16 million colors...
              productKeyword:
                - smart lighting
                - LED
                - color
              productPageUrl: https://www.philips.com/products/hue-white-color-e27
            - manufacturerIdGln: '1234567890123'
              manufacturerProductNumber: '929002376910'
              descriptionLanguage: de-DE
              minimalProductDescription: LED Smart Lampe E27
              uniqueMainProductDescription: Philips Hue White and Color Ambiance E27 LED Smart Lampe
            - manufacturerIdGln: '1234567890123'
              manufacturerProductNumber: '929002376911'
              descriptionLanguage: en-GB
              minimalProductDescription: LED Downlight 10W
              uniqueMainProductDescription: Philips CoreLine Recessed LED Downlight 10W 4000K
          meta:
            cursor: eyJpZCI6MTIzfQ==
            hasNext: true
            hasPrev: false
            limit: 100
            estimatedTotal: 4523
    BulkProductEtimClassificationFeaturesResponse:
      type: object
      description: |
        Bulk response containing flattened product ETIM classification features with cursor-based pagination.

        **Flattened Structure**: Each row represents a single feature value within a product's ETIM classification.
        This structure is optimized for:
        - Predictable payload sizes (each row has consistent structure)
        - Efficient cursor-based pagination by feature
        - ETL/data warehouse ingestion
        - Streaming data processing

        **Payload Optimization**: Optional properties with null values are omitted from the response
        to minimize payload size. Clients should treat missing properties as null/not applicable.

        **Data Reconstruction**: To reconstruct the hierarchical structure:
        1. Group rows by `manufacturerIdGln` + `manufacturerProductNumber` for products
[...]
